<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
        <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="favicon.ico">
        <title>About Us</title>
    </head>
    <body class ="aboutbody">

        <!--White Box background styling-->
        <div class="goldendecor">
            <h1 class="about-page-title">About Bike MD</h1>
        </div>

        <div class="about-container">
            <div class="about-background-box">
                <div class="about-box">

                    <p><b>Bike MD</b> is a community of motorcycle technicians, a place
                        where they can connect with each other and ask technical questions,
                        browse common problems and solutions by model, and help each other
                        troubleshoot vehicles more efficiently. To get started simply
                        create an account and login in. The first page you're directed to
                        is the diagnostic page. Here you can select the make, year, and
                        model you are working on. Then you can view previously posted
                        problems for each system for that bike. Selecting a problem from
                        the list will show you all the details for that porblem. Here you view
                        solutions and vote on the ones that are the most accurate and helpful.
                        The nav bar is present on every page and allows users to post new problems,
                        help solve problems and search problems by keyword as opposed to by model.
                    </p>
                </div>
                <div class="about-exit-button"><a href="/login/">close</a></div>
            </div>
        </div>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script> -->
    </body>
</html>
