<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
    {% block stylecontent %}
    {% endblock %}
    <title>Base</title>
  </head>
  <body>
    <header>
      <a href ="#"><img class ="templatelogo" src ="{% static 'images/logo-template.png' %}"></a>

      <nav class ="templatenav">
        <li class="searchbar">
          <form>
            <input class ="search" type ="text" placeholder ="Search" name ="search"></input>
          <form>
        </li>
        <li><a class ="link1" href ="#">Ask Question</a></li>
        <li><a class ="link2" href ="#">Notifications</a></li>
        <li><a class ="link3" href ="#">MY Account</a></li>
      </nav>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
      <p>Copyright Bike MD 2017. All rights reserved.</p>
    </footer>
    {% block jscontent %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src ="{% static 'js/script.js' %}" type ="text/javascript"></script>
    {% endblock %}
  </body>
</html>
