{% extends 'base.html' %}
{%load static%}
    {% block titlecontent %}<title>Bike Detail</title>{% endblock %}

    {% block bodycontent %}
    <body class ="bikedetailsbody">
    {% endblock %}

    {%block content%}
    <h1 class ="page-title">Select System</h1>

    <hr>

    <!-- Bike info section -->
    <section id="bikeSpecs" class="specs"></section>

    <!-- Circles -->
    <div class="systems-background">
        <section id="system" class ="systems"></section>
    </div>

    {% block footercontent %}
    <footer class ="bikedetails-footer"><p>Copyright Bike MD 2017. All rights reserved.</p></footer>
    {% endblock %}

    <!-- bike specs -->
    <script id="bike-template" type="text/x-handlebars-template">
        <article class="post-container">
            {%verbatim%}
            <input id="modelId" type="hidden" name="user_id" value="{{id}}">
                <h4 class="bikedetails">Brand: <span class="brand">{{brand.name}}</span></h4>
                <h4 class="bikedetails">Year: <span class="year">{{year}}</h4></span>
                <h4 id="{{id}}" class="bikedetails line">Model: <span class="model">{{name}}</span></h4>
            {% endverbatim %}
        </article>
    </script>


    <!-- Circle divs -->
    <script id="system-template" type="text/x-handlebars-template">
        <article class="post-container">
            {%verbatim%}
                {{#each .}}
                    <a href="/problem_list/{{model}}/{{system.id}}">
                        <div class="circle">{{system.name}}</div>
                    </a>
                {{/each}}
            {% endverbatim %}
        </article>
    </script>
    {%endblock%}
    
    {% block jscontent %}
    <script type="text/javascript" src="{% static 'js/bike_detail.js' %}"></script>
    {% endblock %}
  </body>
