<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
    <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
    <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
    <title>Create Account</title>
  </head>

  <body class ="createaccountbody">

    <div class="create-account-container">
    <!-- <header>
      <li><a href ="/diag_app/"><img class ="templatelogo" src ="{% static 'images/logo-template.png' %}"></a></li>
    </header> -->

    <div class="create-account-overlay-box">

<div class="goldendecor">
  <h1 class="register-user-title">Register
  </h1>
</div>
      <div class="create-account-box">
          <form method="POST" class="register-form">
              {%csrf_token%}
              <h4 class="register-form-questions">Enter username:</h4>
              <input type="text" name="username" id="newUsername">
              <h4 class="register-form-questions">Enter password:</h4>
              <input type="password" name="password" id="userPassword">
              <h4 class="register-form-questions">Enter Email:</h4>
              <input type="text" name="email" id="emailAddress">
              <h4 class="register-form-questions">Enter Enter experience in years:</h4>
              <input type="text" name="experience" id="yrsExperience">
              <h4 class="register-form-questions">Enter Enter current job title:</h4>
              <input type="text" name="job_title" id="jobTitle">
              <h4 class="register-form-questions">Enter Enter current place of employment:</h4>
              <input type="text" name="shop" id="currentShop">
              <input id='createAccount' class="register-form-submit-button" type="submit" value="Create Account">
          </form>
      </div>

    </div>
  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/remodal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/create_account.js' %}"></script>
  </body>
</html>
