<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Load</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <button type="button" name="button" id="loadBikes">Load</button>
                        <button type="button" name="button" id="updateScore">Update</button>
                    <div class="row">
                        <div id="listing"></div>
                    </div>
                </div>
            </div>
        </div>

        <script id="brand-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <div class="row">
                        <div class='col-sm-10'>
                            <div class="row">
                                <a onclick="showModels({{this.id}})"><h4>{{ this.name }}</h4></a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="model-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <div class="row">
                        <div class='col-sm-10'>
                            <div class="row">
                                <a href="{{this.url}}"><h4>{{ this.name }}</h4></a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/load.js' %}"></script>
    </body>
</html>
