<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
    <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
    <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <title>Main</title>
  </head>

  <body class ="mainbody">

    <header>
      <a href ="/diag_app/"><img class ="templatelogo" src ="{% static 'images/logo-template.png' %}"></a>

      <nav class ="templatenav">

        <form>
         <input class ="search" type ="text" placeholder ="Search" name ="search"></input>
<img class="glass" src="{% static 'images/search-icon.png' %}"></a>
   <!-- <button type="submit" class="searchButton">
     <i class="fa fa-search"></i>
  </button> -->

    <form>

        <!-- ask questions -->
        <div class ="askmodal-container">
          <li><a data-remodal-target="askModal" id="ask" class ="link1" href="#askModal">Ask Question</a></li>

          <div class="remodal" data-remodal-id="askModal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <!-- new problem form -->
            <form class="newProblem" method="POST">
                {%csrf_token%}
                <input id="userId" type="hidden" name="user_id" value="{{request.user.tech.id}}">

                <h4 class ="modaltext">Enter a title for your post:</h4>
                <input id="probTitle" class ="problemtitle-field"type="text" name="probTitle" value="Enter Problem title">
                <h4 class ="modaltext">Choose Bike:</h4>
                    <div id="brandSelect" class ="systems-dropdown"></div>
                    <div id="yearSelect" class ="systems-dropdown"></div>
                    <div id="modelSelect" class ="systems-dropdown"></div>
                <h4 class ="modaltext">Choose System:</h4>
                    <div id="systemSelect" class ="systems-dropdown"></div>
                <br>
                <h4 class ="modaltext">Describe your problem:</h4>

                <textarea id="probText" type="text" name="probText" value="" rows="10" cols="65"></textarea>
                <br>
                <input data-remodal-action="close" id="newProbSubmit" class ="submit-button"type="submit" value="Submit">
            </form>
            <!-- end new problem form -->
          </div>
        </div>

        <!-- answer questions -->
        <div class ="answermodal-container">
          <li><a id="answer" data-remodal-target="answerModal" class="link2" href="#answerModal">Answer Questions</a></li>

          <div class="remodal" data-remodal-id="answerModal">
            <button data-remodal-action="close" class="remodal-close"></button>

            <div id="modalProblemList" class="unsolved-problems-list"></div>

          </div>
        </div>

        <!-- my account -->
          <li><a class ="link3" href ="#">MY Account</a>
            <ul class ="dropdown">
              <li class ="droplist"><a href ="#">Notifications</a></li>
              <li class ="droplist"><a href ="/diag_app/profile/">Profile</a></li>
              <li class ="droplist"><a href ="/logout/">Log Out</a></li>
            </ul>
          </li>
      </nav>
    </header>

        <h1 class ="diag-main-title">Diagnose</h1>

<hr>
        <!--Profression circles-->
<div class="progression">
        <div class="stepscircles"></div>
        <div class="stepscircles"></div>
        <div class="stepscircles"></div>
</div>
        <section id="listing" class="outer-box">
            <!-- <div id="step" class="step"></div> -->
          <!-- <h3 class ="diag-select-title">select make</h3> -->
        <!-- <a href=""><div class ="diag-select-box"></div></a> -->
        </section>

        <footer class ="mainfooter">
          <p>Copyright Bike MD 2017. All rights reserved.</p>
        </footer>


        <!-- modal scripts     -->

        <!-- answer modal -->
        <script id="unsolved-problem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <h2 class="problem-title-modal">{{{linkURL this}}}</h2>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>


        <!-- ask modal -->
        <script id="brand-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select onchange="loadYearsAskModal(value)" id="probBrand">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                    <option  value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="year-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select onchange="loadModelsAskModal(value)" id="probYear">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{this}}"{{#selected}}selected="selected"{{/selected}}>{{this}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="model-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select id="probModel">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="system-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select id="probSystem">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>
        <!-- end modal scripts -->

        <script id="brand-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h3 class ="diag-select-title">select make</h3>
                {{#each .}}
                  <a onclick="showYears({{this.id}})">
                      <div class ="diag-select-box">
                          <h4 class="diag-select-text">{{ this.name }}</h4>
                      </div>
                  </a>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="year-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h3 class ="diag-select-title">select year</h3>
                <input id="brandId" type="hidden" name="brand" value="{{this.brandId}}">
                    {{#each this.modelYears}}
                    <a onclick="showModels({{this}})">
                        <div class ="diag-select-box">
                            <h4 class="diag-select-text">{{this}}</h4>
                        </div>
                    </a>
                    {{/each}}

                {% endverbatim %}
            </article>
        </script>

        <script id="model-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h3 class ="diag-select-title">select model</h3>
                {{#each .}}
                    <a onclick="linkBike({{this.id}})">
                        <div class ="diag-select-box">
                            <h4 class="diag-select-text">{{{ this.name }}}</h4>
                        </div>
                    </a>
                {{/each}}
                {% endverbatim %}
            </article>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/remodal.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    </body>
</html>
