<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
    <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
    <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
    <title>Main</title>
  </head>

  <body class ="mainbody">

    <header>
      <a href ="/"><img class ="templatelogo" src ="{% static 'images/logo-template.png' %}"></a>

      <nav class ="templatenav">

        <!-- search -->
        <ul>
            <li>
              <form id="searchThis" style="display: inline;" method="POST">
                  {%csrf_token%}
                  <input onfocus="if(this.value==this.defaultValue)this.value='';"
                  value="Search Problems"
                  type="text" id="searchBox"
                  onblur="if(this.value=='')this.value=this.defaultValue;"
                  vinput="" name="q"/>
                  <input id="searchButton" value="Go" type="submit"
                  data-remodal-target="searchModal" class="link2" href="#searchModal"/>
              </form>
            </li>
        </ul>

        <!-- search modal -->
        <div class ="search-modal-container">
            <div class="remodal" data-remodal-id="searchModal">
                <button data-remodal-action="close" class="remodal-close"></button>
                <div class="goldendecor">
                  <h1 class="modal-header"> Search Results</h1>
                  <hr>
                </div>
                <div id="searchProblemList" class="search-problem-list"></div>

            </div>
        </div>
        <!-- diagnose -->
        <li class ="link1"><a href="/">Diagnose</a></li>
        <!-- ask questions -->
        <div class ="askmodal-container">
          <li><a data-remodal-target="askModal" id="ask" class ="link2" href="#askModal">Post Problem</a></li>

          <div class="remodal" data-remodal-id="askModal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <!-- new problem form -->
            <form class="newProblem" method="POST">
                {%csrf_token%}
                <input id="userId" type="hidden" name="user_id" value="{{request.user.tech.id}}">
                <div class="goldendecor">
                    <h1 class="modal-header">Post a Problem</h1>
                    <hr>
                </div>

                <h4 class ="modaltext">Choose Bike:</h4>
              <div class="select-brand-model-year containerDropdown">
                  <div class="bikeFeature">
                    <p>Brand: <div id="brandSelect" class="systems-dropdown"></div></p>
                  </div>
                  <div class="bikeFeature">
                    <p>Year: <div id="yearSelect" class="systems-dropdown"></div></p>
                  </div>
                  <div class="bikeFeature">
                    <p>Model: <div id="modelSelect" class="systems-dropdown"></div></p>
                  </div>
                  <div class="bikeFeature">
                    <h4 class ="modaltext-1">Choose System:</h4>
                    <div id="systemSelect" class ="systems-dropdown"></div>
                  </div>
              </div>

                <br>
                <h4 class ="modaltext">Enter a title for your post:</h4>
                <input id="probTitle" class ="problemtitle-field"type="text" name="probTitle" value="">
                <h4 class ="modaltext">Describe your problem:</h4>
                <textarea id="probText" class="textarea-border" type="text" name="probText" value="" rows="10" cols="65"></textarea>
                <p class="counter" id="counter"></p>
                <br>
                <input data-remodal-action="close" id="newProbSubmit" class ="submit-button" type="submit" value="Submit">
            </form>
            <!-- end new problem form -->
          </div>
        </div>

        <!-- answer questions -->
        <div class ="answermodal-container">
          <li><a id="answer" data-remodal-target="answerModal" class="link3" href="#answerModal">Unsolved Problems</a></li>

          <div class="remodal" data-remodal-id="answerModal">
            <button data-remodal-action="close" class="remodal-close"></button>

            <div id="modalProblemList" class="unsolved-problems-list"></div>

          </div>
        </div>

        <!-- my account -->
          <li><a class ="link4" href ="#">My Account</a>
            <ul class ="dropdown">
              <li class ="droplist"><a href ="#">Notifications</a></li>
              <li class ="droplist"><a href ="/diag_app/profile/">Profile</a></li>
              <li class ="droplist"><a href ="/logout/">Log Out</a></li>
            </ul>
          </li>
          </ul>
      </nav>
    </header>

        <h1 class ="page-title">Diagnose a problem</h1>

<hr>

        <section class="outer-box">
            <div id="listing"></div>
        </section>


        <footer class ="mainfooter">
          <p>Copyright Bike MD 2017. All rights reserved.</p>
        </footer>


<!-- modal scripts     -->

        <!-- search modal -->
        <script id="search-problem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                  <div class="problem-container">
                    <h2 class="problem-title">{{{linkURL this}}}</h2>
                  </div>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="search-problem-template-two" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <div class="no-result-modal">
                    {{{message}}}
                </div>
                {% endverbatim %}
            </article>
        </script>


        <!-- answer modal -->
        <script id="unsolved-problem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                  <div class="problem-container">
                    <h2 class="problem-title">{{{linkURL this}}}</h2>
                  </div>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>


        <!-- ask modal -->
        <script id="brand-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select class="dropdownlist" onchange="loadYearsAskModal(value)" id="probBrand">
                    {% verbatim %}
                    <option value="none">Select One</option>
                    {{#each .}}
                    <option  value="{{this.id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="year-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select class="dropdownlist" onchange="loadModelsAskModal(value)" id="probYear">
                    {% verbatim %}
                    <option value="none">Select One</option>
                    {{#each .}}
                        <option value="{{this}}"{{#selected}}selected="selected"{{/selected}}>{{this}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="model-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select class="dropdownlist" id="probModel">
                    {% verbatim %}
                    <option value="none">Select One</option>
                    {{#each .}}
                        <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="system-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select class="dropdownlist" id="probSystem">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>
        <!-- end modal scripts -->

        <script id="brand-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h3 class ="diag-select-title">select make
                        <div id="brandStep" class="stepscircles">
                            <h5 class="step-number">1</h5>
                        </div>
                </h3>
                    {{#each .}}
                    <a id="clickOne" onclick="showYears({{this.id}})">
                        <div class ="diag-select-box">
                            <h4 class="diag-select-text">{{ this.name }}</h4>
                        </div>
                    </a>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="year-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h3 class ="diag-select-title">select year
                        <a onclick="showBrands()">
                            <div class="stepscircles">
                                <h5 class="step-number">1</h5>
                            </div>
                        </a>
                        <a onclick="showYears({{this.brandId}})">
                            <div id="yearStep" class="stepscircles">
                                <h5 class="step-number">2</h5>
                            </div>
                        </a>
                </h3>
                <input id="brandId" type="hidden" name="brand" value="{{this.brandId}}">
                    {{#each this.modelYears}}
                    <a onclick="showModels({{this}})">
                        <div class ="diag-select-box">
                            <h4 class="diag-select-text">{{this}}</h4>
                        </div>
                    </a>
                    {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="model-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h3 class ="diag-select-title">select model
                        <a onclick="showBrands()">
                            <div class="stepscircles">
                                <h5 class="step-number">1</h5>
                            </div>
                        </a>
                        <a onclick="showYears({{brand}})">
                            <div class="stepscircles">
                                <h5 class="step-number">2</h5>
                            </div>
                        </a>
                        <div id="modelStep" class="stepscircles">
                            <h5 class="step-number">3</h5>
                        </div>
                </h3>
                {{#each bikes}}
                    <a onclick="linkBike({{this.id}})">
                        <div class ="diag-select-box">
                            <h4 class="diag-select-text">{{ this.name }}</h4>
                        </div>
                    </a>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    </body>
</html>
