{%load static%}
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link href ="../static/css/style.css" type ="text/css" rel ="stylesheet">
        <title></title>
      </head>

      <body class ="mainbody">

        <header>
          <li><a href ="#"><img class ="templatelogo" src ="../static/images/logo-template.png"></a></li>

          <form>
            <input class ="search" type ="text" placeholder ="Search" name ="search"></input>
          <form>

          <nav class ="templatenav">
            <li><a class ="link1" href ="#">Ask Question</a></li>
            <li><a class ="link2" href ="#">Answer Questions</a></li>
            <li><a class ="link3" href ="#">MY Account</a></li>
          </nav>
        </header>



        <h1 class ="diag-main-title">Diagnose</h1>

        <!-- <div class ="diag-state-circle">
          <p>1</p>
        </div>

        <div class ="diag-state-circle">
          <p>1</p>
        </div>

        <div class ="diag-state-circle">
          <p>1</p>
        </div> -->

        <section class="outer-box">
          <h3 class ="diag-select-title">select make</h3>
            <a href=""><div class ="diag-select-box">

            </div></a>
        </section>




        <footer>
          <p>Copyright Bike MD 2017. All rights reserved.</p>
        </footer>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- <script src ="js/script.js" type ="text/javascript"></script> -->
      </body>
    </html>
