{% extends 'base.html' %}
{%load static%}

{% block titlecontent %}
<title>Problem List</title>
{% endblock %}

{% block bodycontent %}
<body class="bikedetailsbody">
{% endblock %}
    {%block content%}
    <h1 class="page-title" id="model"></h1>

    <hr>

    <!---Containter, problem list--->
    <div id="problemList" class="problem-list-box"></div>

    {% block footercontent %}
    <footer class ="bikedetails-footer"><p>Copyright Bike MD 2017. All rights reserved.</p></footer>
    {% endblock %}

    <script id="problem-list-template" type="text/x-handlebars-template">
        <article class="post-container">
            {%verbatim%}
            <h1 class="problem-header">{{system.name}} Problem List:</h1>
            {{#each problem}}
            <a id="problist-problem-container" class="unsolved-problem-link" href='/problem_detail/{{this.id}}'>
                <div class="problist-problem-container">
                    <h5 class="problist-problem-title">{{{this.title}}}</h5>
                    <h5 class="problist-posted-by">{{tech.user.username}}</h5>
                    <h5 class="tech-rating">{{this.tech.tech_rating}}</h5>
                    <h5 class="problist-date-time"><i>{{{formatTime posted}}}</i></h5>
                    <br>
                </div>
            </a>
            {{/each}}
            {% endverbatim %}
        </article>
    </script>

    <script id="model-template" type="text/x-handlebars-template">
        <article class="post-container">
            {%verbatim%}
                <h1 class="problist-page-title">{{brand.name}} {{{linkURLModel this}}}</h1>
            {% endverbatim %}
        </article>
    </script>
    {% endblock %}

    {% block jscontent %}
    <script type="text/javascript" src="{% static 'js/problem_list.js' %}"></script>
    {% endblock %}
</body>
