<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
    <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
    <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
    <title>Problem List</title>
  </head>

  <body class ="bikedetailsbody">
    <header>
      <a href ="/diag_app/"><img class ="templatelogo" src ="{% static 'images/logo-template.png' %}"></a></li>



      <nav class ="templatenav">

          <!-- search -->
          <ul>
              <li>
                <form id="searchThis" style="display: inline;" method="POST">
                    {%csrf_token%}
                    <input onfocus="if(this.value==this.defaultValue)this.value='';"
                    value="Search Problems"
                    type="text" id="searchBox"
                    onblur="if(this.value=='')this.value=this.defaultValue;"
                    vinput="" name="q"/>
                    <input id="searchButton" value="Go" type="submit"
                    data-remodal-target="searchModal" class="link2" href="#searchModal"/>
                </form>
              </li>
          </ul>

        <!-- search modal -->
        <div class ="search-modal-container">
            <div class="remodal" data-remodal-id="searchModal">
                <button data-remodal-action="close" class="remodal-close"></button>

                <div id="searchProblemList" class="search-problem-list"></div>

            </div>
        </div>

        <!-- ask questions -->
        <div class ="askmodal-container">
          <li><a data-remodal-target="askModal" id="ask" class ="link1" href="#askModal">Post Problem</a></li>

          <div class="remodal" data-remodal-id="askModal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <!-- new problem form -->
            <form class="newProblem" method="POST">
                {%csrf_token%}
                <input id="userId" type="hidden" name="user_id" value="{{request.user.tech.id}}">

                <h4 class ="modaltext">Enter a title for your post:</h4>
                <input id="probTitle" class ="problemtitle-field"type="text" name="probTitle" value="Enter Problem title">
                <h4 class ="modaltext">Choose Bike:</h4>
                    <div id="brandSelect" class ="systems-dropdown"></div>
                    <div id="yearSelect" class ="systems-dropdown"></div>
                    <div id="modelSelect" class ="systems-dropdown"></div>
                <h4 class ="modaltext">Choose System:</h4>
                    <div id="systemSelect" class ="systems-dropdown"></div>
                <br>
                <h4 class ="modaltext">Describe your problem:</h4>

                <textarea id="probText" type="text" name="probText" value="" rows="10" cols="65"></textarea>
                <br>
                <input data-remodal-action="close" id="newProbSubmit" class ="submit-button"type="submit" value="Submit">
            </form>
            <!-- end new problem form -->
          </div>
        </div>

        <!-- answer questions -->
        <div class ="answermodal-container">
          <li><a id="answer" data-remodal-target="answerModal" class="link2" href="#answerModal">Unsolved Problems</a></li>

          <div class="remodal" data-remodal-id="answerModal">
            <button data-remodal-action="close" class="remodal-close"></button>

            <div id="modalProblemList" class="unsolved-problems-list"></div>

          </div>
        </div>

        <!-- my account -->
          <li><a class ="link3" href ="#">MY Account</a>
            <ul class ="dropdown">
              <li class ="droplist"><a href ="#">Notifications</a></li>
              <li class ="droplist"><a href ="/diag_app/profile/">Profile</a></li>
              <li class ="droplist"><a href ="/logout/">Log Out</a></li>
            </ul>
          </li>
      </nav>
    </header>

    <div><h1 class="details-main-title" id="model"></h1></div>

<hr>
<!---Containter, start styling here--->

<div class="problem-list-box">
    <div id="problemList" class ="logobackground"></div>
</div>


    <footer class ="bikedetails-footer">
      <p>Copyright Bike MD 2017. All rights reserved.</p>
    </footer>

    <!-- modal scripts     -->

        <!-- search modal -->
        <script id="search-problem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <h2 class="problem-title-modal">{{{linkURLProblem this}}}</h2>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <!-- answer modal -->
        <script id="unsolved-problem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <h2 class="problem-title-modal">{{{linkURL this}}}</h2>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>


        <!-- ask modal -->
        <script id="brand-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select onchange="loadYearsAskModal(value)" id="probBrand">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                    <option  value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="year-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select onchange="loadModelsAskModal(value)" id="probYear">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{this}}"{{#selected}}selected="selected"{{/selected}}>{{this}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="model-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select id="probModel">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>


        <script id="system-modal-template" type="text/x-handlebars-template">
            <article class="post-container">
                <select id="probSystem">
                    {% verbatim %}
                    <option value="none"></option>
                    {{#each .}}
                        <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                    {% endverbatim %}
                </select>
            </article>
        </script>
        <!-- end modal scripts -->

        <script id="problem-list-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                <h1 class="problem-title">{{system.name}} Problem List:</h1>
                {{#each problem}}
                    <h2 class="problem-title">{{{linkURLProblem this}}}</h2>
                    <h2 class="date-time">{{{formatTime posted}}}</h2>
                    <h2 class="posted-by">{{tech.user.username}}</h2>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="model-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                    <h1 class="model-title">{{brand.name}} {{{linkURLModel this}}}</h1>
                {% endverbatim %}
            </article>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
        <script type="text/javascript" src="{% static 'js/problem_list.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
      </body>
    </html>
