{% extends 'base.html' %}
{%load static%}

    {% block titlecontent %}
    <title>Problem Detail</title>
    {% endblock %}

{% block bodycontent %}
<body class ="prob-detailbody">
{% endblock %}

    {%block content%}
    <div class="prob-form-background">
        <h2 class ="prob-header">Problem Details</h2>
        <div id="problemDetail" class ="prob-box"></div>

        <div id="solutions"></div>

        <h2 class ="sol-header">Give a solution</h2>
        <div class="sol-form-container">
            <input id="userId" type="hidden" name="user_id" value="{{request.user.id}}">
            <form class="prob-form" method="POST">
                {%csrf_token%}
                <div class ="time-box">
                    <h4 class ="form-text">Time required for solution:</h4>
                    <input id="solutionTime" class ="time-input" type="text" name="solutionTime" value=""><p class ="hrs">Hrs.</p>
                </div>

                <div class ="cost-box">
                    <h4 class ="form-text">Parts cost for solution:</h4>
                    <p class ="dollar">$</p><input id="partsCost" class ="cost-input" type="text" name="partsCost" value="">
                </div>

                <br>
                <h2 class ="describe-title">Describe your solution:</h2>
                <textarea id="solutionText" class ="solution-box" type="text" name="solutionText" value="" rows="10" cols="65"></textarea>
                <p class="counterSolution" id="counterSolution"></p>
                <input id="newSolutionSubmit" class ="solution-submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
      <!-- end post new solution -->

    <script id="problem-template" type="text/x-handlebars-template">
        <article class="post-container">
            {%verbatim%}
                <input id="problemId" type="hidden" name="problem_id" value="{{id}}">
                <h2 class="prob-title">{{title}}</h2>
                <h5 class="posted-by">{{tech.user.username}}</h5>
                <h5 class="tech-rating">{{this.tech.tech_rating}}</h5>
                <h5 class="bike-details">{{model.year}} {{model.brand.name}} {{model.name}}</h5>
                <h5 class="date-time"><i>{{{formatTime posted}}}</i></h5>
                <h5 class="question-text">{{description}}</h5>
            {% endverbatim %}
        </article>
    </script>

    <script id="solution-template" type="text/x-handlebars-template">
        <article class="post-container">
            {%verbatim%}
            {{#each .}}
                <h2 class="sol-name">Solution:</h2>
                <div class="sol-box">
                    <h5 class="posted-by">{{this.tech.user.username}}</h5>
                    <h5 class="tech-rating">{{this.tech.tech_rating}}</h5>
                    <h5 class="date-time"><i>{{{formatTime this.posted}}}</i></h5>
                    <h5 class="solution-time">Repair time: <span class ="timecost-value">{{this.time_required}} hrs.</span></h5>
                    <h5 class="solution-cost">Parts cost: <span class ="timecost-value">${{this.parts_cost}}</span></h5>
                    <h5 class="solution-text">{{this.description}}</h5>
                    <button class="up-vote vote" type="submit" onclick="validateVote({{id}}, 1)">
                    <i class="fa fa-arrow-up arrow" aria-hidden="true"></i></button>
                    <button class="down-vote vote" type="submit" onclick="validateVote({{id}}, -1)">
                    <i class="fa fa-arrow-down arrow" aria-hidden="true"></i></button>
                    <h5 id="solutionScore{{id}}" class="solution-score">Score: {{this.score}}</h5>

                </div>
            {{/each}}
            {% endverbatim %}
        </article>
    </script>
    {% endblock %}

    {% block jscontent %}
    <script src="https://use.fontawesome.com/11db75c5f8.js"></script>
    <script type="text/javascript" src="{% static 'js/problem_detail.js' %}"></script>
    {% endblock %}
</body>
