<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
        <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="favicon.ico">
        <title>Notifications</title>
    </head>
    <body class ="aboutbody">

        <!--White Box background styling-->
        <div class="goldendecor">
            <h1 class="about-page-title">About Bike MD</h1>
        </div>

        <div class="about-container">
            <div class="about-background-box">
                <div class="about-box">

                    <p><b>Bike MD</b> This feature is still under construction.
                    </p>
                </div>
                <div class="about-exit-button"><a href="/">close</a></div>
            </div>
        </div>
    </body>
</html>
