<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'css/remodal.css' %}">
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
        <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <title>Profile</title>
    </head>

    <body class ="userprofilebody">
        <input id="currentTech" type="hidden" name="user_id" value="{{request.user.id}}">

    

        <div class="profile-title"><p>User Profile<p></div>

        <div class="profile-details">

          <div class="profile-box">
                <div id="profileImg" class="profile-photo">
                    <img  src ="{% static 'images/transport-3.png' %}"  alt="">
                </div>
          </div>

              <div id="techQuestions" class="profile-questions-asked"><p>questions asked</p></div>

              <div id="techInfo" class="profile-information"><p>Information</p></div>

              <div id="techAnswers" class="profile-questions-answered"><p>answers</p></div>
      </div>

      <div class="exitbutton"><a href="/diag_app/">close</a></div>


      <!-- modal scripts     -->

      <!-- search modal -->
      <script id="search-problem-template" type="text/x-handlebars-template">
          <article class="post-container">
              {%verbatim%}
              {{#each .}}
                  <h2 class="problem-title-modal">{{{linkURL this}}}</h2>
              {{/each}}
              {% endverbatim %}
          </article>
      </script>

      <!-- answer modal -->
      <script id="unsolved-problem-template" type="text/x-handlebars-template">
          <article class="post-container">
              {%verbatim%}
              {{#each .}}
                  <h2 class="problem-title-modal">{{{linkURL this}}}</h2>
              {{/each}}
              {% endverbatim %}
          </article>
      </script>


      <!-- ask modal -->
      <script id="brand-modal-template" type="text/x-handlebars-template">
          <article class="post-container">
              <select onchange="loadYearsAskModal(value)" id="probBrand">
                  {% verbatim %}
                  <option value="none"></option>
                  {{#each .}}
                  <option  value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                  {{/each}}
                  {% endverbatim %}
              </select>
          </article>
      </script>


      <script id="year-modal-template" type="text/x-handlebars-template">
          <article class="post-container">
              <select onchange="loadModelsAskModal(value)" id="probYear">
                  {% verbatim %}
                  <option value="none"></option>
                  {{#each .}}
                      <option value="{{this}}"{{#selected}}selected="selected"{{/selected}}>{{this}}</option>
                  {{/each}}
                  {% endverbatim %}
              </select>
          </article>
      </script>


      <script id="model-modal-template" type="text/x-handlebars-template">
          <article class="post-container">
              <select id="probModel">
                  {% verbatim %}
                  <option value="none"></option>
                  {{#each .}}
                      <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                  {{/each}}
                  {% endverbatim %}
              </select>
          </article>
      </script>


      <script id="system-modal-template" type="text/x-handlebars-template">
          <article class="post-container">
              <select id="probSystem">
                  {% verbatim %}
                  <option value="none"></option>
                  {{#each .}}
                      <option value="{{id}}"{{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                  {{/each}}
                  {% endverbatim %}
              </select>
          </article>
      </script>
      <!-- end modal scripts -->


        <script id="info-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                    <h1 class="profile-page-username">{{this.user.username}}</h1>
                    <h4 class="profile-page-information">experience: {{experience}}</h4>
                    <h4 class="profile-page-information">Current position: {{job_title}}</h4>
                    <h4 class="profile-page-information">Shop: {{shop}}</h4>
                {% endverbatim %}
            </article>
        </script>

        <script id="techProblem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <h3 class="tech-problem-text">{{{linkURL this}}}</h3>
                    <h5 class="page-solution-date">{{{formatTime this.posted}}}</h5>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="techSolution-template" type="text/x-handlebars-template">
            <article class="post-container">
                    {% verbatim %}
                    {{#each .}}
                        <h4 class="page-solution">{{{linkURLAnswers this}}}</h4>
                        <h5 class="page-solution-date">{{{formatTime this.posted}}}</h5>
                    {{/each}}
                    {% endverbatim %}
            </article>
        </script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    </body>
</html>
