<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link src ="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link href ="{% static 'css/style.css' %}" type ="text/css" rel ="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <title>Profile</title>
    </head>

    <body class ="userprofilebody">
        <input id="currentTech" type="hidden" name="user_id" value="{{request.user.id}}">

        <header>
          <li><a href ="/diag_app/"><img class ="templatelogo" src ="{% static 'images/logo-template.png' %}"></a></li>

          <form>
              <input class ="search" type ="text" placeholder ="Search" name ="search"></input>
          </form>

          <nav class ="templatenav">

            <!-- ask questions -->
          <div class ="askmodal-container">
            <li><a data-remodal-target="askModal" class ="link1" href="#askModal">Ask Question</a></li>

            <div class="remodal" data-remodal-id="askModal">
            <button data-remodal-action="close" class="remodal-close"></button>
              <p>Stuff1</p>
            </div>
          </div>

          <!-- answer questions -->
          <div class ="answermodal-container">
            <li><a data-remodal-target="answerModal" class ="link2" href="#answerModal">Answer Questions</a></li>

            <div class="remodal" data-remodal-id="answerModal">
            <button data-remodal-action="close" class="remodal-close"></button>
              <p>Stuff</p>
            </div>
          </div>

          <!-- my account -->
            <li><a class ="link3" href ="#">MY Account</a>
              <ul class ="dropdown">
                <li class ="droplist"><a href ="#">Notifications</a></li>
                <li class ="droplist"><a href ="/diag_app/profile/">Profile</a></li>
                <li class ="droplist"><a href ="/logout/">Log Out</a></li>
              </ul>
            </li>
          </nav>
        </header>

        <div class="profile-title"><p>User Profile<p></div>

        <div class="profile-details">

            <div id="profileImg" class="profile-photo">Img
            </div>

              <div id="techQuestions" class="profile-questions-asked">questions</div>

            <div id="techInfo" class="profile-information">Info</div>

            <div id="techAnswers" class="profile-questions-answered">answers
            <div>
        </div>


        <footer>
            <p>Copyright Bike MD 2017. All rights reserved.</p>
        </footer>


        <script id="info-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                    <h1 class="">{{this.user.username}}</h1>
                    <h4 class="">experience: {{this.experience}}</h4>
                    <h4 class="">Current position: {{this.job_title}}</h4>
                    <h4 class="">Shop: {{this.shop}}</h4>
                {% endverbatim %}
            </article>
        </script>

        <script id="techProblem-template" type="text/x-handlebars-template">
            <article class="post-container">
                {%verbatim%}
                {{#each .}}
                    <h3 class="">{{this.title}}</h3>
                    <h5 class="">{{{formatTime this.posted}}}</h5>
                {{/each}}
                {% endverbatim %}
            </article>
        </script>

        <script id="techSolution-template" type="text/x-handlebars-template">
            <article class="post-container">
                    {% verbatim %}
                    {{#each .}}
                        <h4 class="">{{description}}</h4>
                        <h5 class="">{{{formatTime this.posted}}}</h5>
                    {{/each}}
                    {% endverbatim %}
            </article>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/remodal.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>
