@import "variables";
@import "mixins";

.aboutbody{
  background-image:
  linear-gradient(
        rgba($charcoal, 0.5),
        rgba($charcoal, 0.5)
      ),
  url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
}
//Color background for title//
.goldendecor {
  background-color: $golden;
  width: 70%;
  padding-top: 1%;
  height: 70px;
  margin-left: 15%;
  margin-top: 7%;
  margin-right: 15%;
}
//Title
.about-page-title {
  @include mediumfont;
  color: white;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: -2%;
  font-weight: 200;
  padding-top: 1%;
  padding-bottom: 1%;
  hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }
}
//Box wrapper
.about-container {
  display:block;
  width:70%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  padding-bottom: 3%;
  margin: 0 auto;
}
//Box background image
.about-background-box {
    background: linear-gradient(
          rgba(white, 0.55),
          rgba(white, 0.55)
        ), url("../images/register-page-background-image.png");
    width: 80%;
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 10%;
    margin-bottom: 7%;
  }
.about-box {
  p {
    @include smallfont;
    color: $charcoal;
    text-align: left;
  }
  .bikemd {
    @include smallregularfont;
  }
}
.about-exit-button {
    height:40px;
    width:100%;
    box-sizing:border-box;
    @include smallfont;
    float: right;
    text-align: right;
    margin-right: 1%;
    margin-top: -4%;
    a{
      text-decoration:none;
      color:$golden;
      padding:1%;
      background-color:$charcoal;
    }
    a:hover{
      color:$charcoal;
      background-color:$golden;
    }
  }
