$charcoal: #313237;
$seafoam: #a8bdba;
$golden: #b68d58;
$teal: #45756e;

@mixin smallfont{
  font-size:1em;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin regularfont{
  font-size:1.5em;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin mediumfont{
  font-size:2.25em;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin largefont{
  font-size:3.75em;
  font-family:gill sans;
  text-transform:uppercase;
}

header {
  height: 58px;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 2%; }
  header .templatelogo {
    width: 15%;
    float: left;
    margin-right: 4%;
    margin-top: 1.5%; }

  header .templatenav {
    display: inline; }
    header .templatenav li {
      list-style-type: none;
      display: inline-block;
      margin-left: 2%;
      float: left; }
      header .templatenav li a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-family: gill sans;
        text-transform: uppercase;
        font-weight: normal;
        text-align: right; }
      header .templatenav li a:after {
        display: block;
        position: absolute;
        bottom: 30px;
        height: 5px;
        width: 0px;
        background-color: #a8bdba;
        transition: width .5s;
        content: ""; }
      header .templatenav li .link1:hover:after {
        width: 100%; }
      header .templatenav li .link2:hover:after {
        width: 100%; }
      header .templatenav li .link3:hover:after {
        width: 100%; }

.dropdown {
    margin-top: 2%;
    display: none;
    padding: 5%;
    position: absolute;
    top: 500px; }

header .templatenav .dropdown li a {
  font-size: 1.1rem; }

header .templatenav .dropdown li a:hover {
  color: #ba973a; }

.droplist {
  display: block;
  clear: both;
  width: 100%; }

.droplist:hover {
  transition: .5s; }

#searchThis {
  height: 30px;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 20% !important; }

#searchBox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0px; }

#searchButton {
  background-color: rgba(255, 255, 255, 0.55);
  border: 0px;
  width: 40px; }

#searchButton:hover {
  background-color: #a8bdba;
  border: 0px;
  transition: .5s; }

.templatenav{

    li{
      display:inline-block;
      padding:2% .75%;
      margin:0;
      float:left;

      a{
        text-decoration:none;
        color:white;
        @include smallfont;
        font-size: 1.25rem;
        position:relative;
      }

}

      a:after{
        display:block;
        position:absolute;
        bottom:30px;
        height:5px;
        width:0px;
        background-color:$golden;
        transition:width .5s;
        content:"";
        z-index:-1;
      }

      .link1:hover:after{
        width:100%;
      }

      .link2:hover:after{
        width:100%;
      }

      .link3:hover:after{
        width:100%;
      }
    }
  }
}


footer{
  background-color:rgba(white, .25);
  height:30px;
  position:relative;
  top:540px;
  p{
    color:white;
    text-align:center;
    padding-top:.5%;
  }
}
