$charcoal: #313237;
$seafoam: #a8bdba;
$golden: #b68d58;

@mixin regularfont{
  font-size:1.5rem;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin mediumfont{
  font-size:2.25rem;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin largefont{
  font-size:3.75rem;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin verticalcenter{
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}


.bikedetailsbody{
  background:
  linear-gradient(
        rgba(black, 0.25),
        rgba(black, 0.25)
      ),
  url("../images/bikedetails-background.png");
  background-size:cover;
  margin:0;
}



.specs{
  @include regularfont;
  color:white;
  font-weight:200;
  text-align:center;
  border:1px solid white;
  background-color:rgba(black, .25);
  padding:0 3%;
  display:inline-block;
  position:relative;
  top:50px;
  left:38%;

  .specstitle{
    @include mediumfont;
    color:white;
    font-weight:500;
    text-align:center;

  }
}

.systems{
  text-align:center;
  position:relative;
  top:100px;

    .systitle{
      @include mediumfont;
      color:white;
      font-weight:500;
    }

      a{
        text-align:center;
        text-decoration:none;
        @include regularfont;
        color:white;
        @include verticalcenter;
        margin:0;

        .sys{
          height:150px;
          width:150px;
          margin:0 4%;
          display:inline-block;
          background-color:rgba($seafoam, .75);
          border-radius:100%;
          padding:1%;
        }
      }




    .sys:hover{
      background-color:rgba($golden, 1);
      transform:rotate(360deg);
      transition:.5s;
    }
}
