@import "variables";
@import "mixins";

.bikedetailsbody{
  background:
  linear-gradient(
        rgba(black, 0.25),
        rgba(black, 0.25)
      ),
  url("../images/bikedetails-background.png");
  background-size:cover;
  margin:0;
}



.specs{
  @include regularfont;
  color:white;
  font-weight:200;
  text-align:center;
  border:1px solid white;
  background-color:rgba(black, .25);
  padding:0 3%;
  display:inline-block;
  position:relative;
  top:50px;
  left:38%;

  .specstitle{
    @include mediumfont;
    color:white;
    font-weight:500;
    text-align:center;

  }
}

.systitle{
  @include mediumfont;
  color:white;
  font-weight:500;
  text-align:center;
  margin-top:100px;
}

// circles
.systems{
  text-align:center;
  position:relative;
  top:20px;

      a{
        text-align:center;
        text-decoration:none;
        @include regularfont;
        color:white;
        margin:0;

        .sys{
          height:150px;
          width:150px;
          margin:0 4%;
          display:inline-block;
          background-color:rgba($seafoam, .75);
          border-radius:100%;
          padding:1%;
        }
      }




    .sys:hover{
      background-color:rgba($golden, 1);
      transform:rotate(360deg);
      transition:.5s;
    }
}

.bikedetails-footer{
  position:absolute;
  bottom:0;
}
