@import "variables";
@import "mixins";

.createaccountbody {
  background-image:
  linear-gradient(
        rgba(black, 0.75),
        rgba(black, 0.75)
      ),
  url("../images/index-background.jpg");
  background-size:cover;
  background-position:center;
  margin:0;
  padding: 5%;
}

.create-account-overlay-box {
  display:block;
  width:60%;
      background-image: url("../images/register-page-background-image.png");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height: auto;
  margin:0 auto;
  // margin-left: 18%;
  padding-top: 2%;
}


.create-account-box {
padding-top: 2%;
}


  .profile-information {
    width: 66%;
    height: 224px;
    float: right;
    background-color: #000000;
    margin: 1%;
  }

  // .profile-questions-asked {
  //   width: 30%;
  //   height: 300px;
  //   float: left;
  //   background-color: #ffffff;
  //   margin-left: 1%;
  //   margin-bottom: 1%;
  // }

  // .profile-questions-answered {
  //   width: 66%;
  //   height: 224px;
  //   float: right;
  //   background-color: #ffffff;
  //   margin-right: 1%;
  //   margin-bottom: 1%;
  // }

  .register-form {
    padding-top: 1%;
    padding-left:10%;
    padding-bottom: 5%;
  }


  .register-form-questions {
    margin: 0;
    @include smallfont;
    font-weight: normal;
    color: $teal;
    padding: .3%;
  }


  .register-form input {
    width: 40%;
    height: 20px;
    margin-right: 5%;
    @include smallfont;
    font-weight: normal;
  }

  .register-form-submit-button {
    background-color:rgba($golden, .8);
    border: none;
    @include smallfont;
    font-weight: normal;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 3%;
    float: left;
    margin-top: 1%;
    }


    .register-form-submit-button:hover {
      background-color:rgba($charcoal, .8);
      border: none;

      }

.register-user-title {
  @include largefont;
  color: white;
  font-weight: 400;
  margin-left: 20%;
  margin-top: .5%;
  font-weight: 200;
  padding-top: 1%;
  padding-bottom: 1%;
}

.goldendecor {
  background-color: $golden;
  height: 70px;
  width: 50%;
}

.register-exit-button {
    height:40px;
    width:100%;
    box-sizing:border-box;
    @include smallfont;
    float: right;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;


    a{
      text-decoration:none;
      color:$golden;
      padding:1%;
      background-color:$charcoal;

    }

    a:hover{
      color:$charcoal;
      background-color:$golden;

    }
  }
