@import "variables";
@import "mixins";

.createaccountbody {
  background-image:
  linear-gradient(
        rgba(black, 0.75),
        rgba(black, 0.75)
      ),
  url("../images/index-background.jpg");
  background-size:cover;
  background-position:center;
  margin:0;
  padding: 5%;
}

header {
  margin: 0 auto;
}
.create-account-overlay-box {
  display:block;
  width:67%;
      background-image: url("../images/register-page-background-image.png");

background-size: auto;
  height: 550px;
  margin:0 auto;
  margin-left: 18%;
  padding-top: 2%;

}

.create-account-box {
padding-top: 2%;
}

  .profile-information {
    width: 66%;
    height: 224px;
    float: right;
    background-color: #000000;
    margin: 1%;
  }

  // .profile-questions-asked {
  //   width: 30%;
  //   height: 300px;
  //   float: left;
  //   background-color: #ffffff;
  //   margin-left: 1%;
  //   margin-bottom: 1%;
  // }

  // .profile-questions-answered {
  //   width: 66%;
  //   height: 224px;
  //   float: right;
  //   background-color: #ffffff;
  //   margin-right: 1%;
  //   margin-bottom: 1%;
  // }

  .register-form {
    padding-top: 1%;
    padding-left:10%;
    padding-bottom: 5%;
  }

  .register-form-questions {
    margin: 0;
    @include smallfont;
  }

  .register-form input {
    width: 40%;
    height: 40px;
    margin-right: 5%;
    @include smallfont;

  }

  .register-form-submit-button {
    background-color:rgba($golden, .8);
    border: none;
    }

    .register-form-submit-button:hover {
      background-color:rgba($darkteal, .8);
      border: none;
      }

.register-user-title {
  @include largefont;
  color: white;
  font-weight: 400;
  margin-left: 10%;
  margin-top: .5%;
}

.goldendecor {
  background-color: $golden;
  height: 70px;
  width: 50%;
}
