@import "variables";
@import "mixins";

.createaccountbody {
  background-image:
  linear-gradient(
        rgba(black, 0.75),
        rgba(black, 0.75)
      ),
  url("../images/index-background.jpg");
  background-size:cover;
  margin:0;
}


.create-account-overlay-box {
  display: inline-block;
  width:70%;
  background:
  linear-gradient(
        rgba(white, 0.25),
        rgba(white, 0.25)
      ),;
  margin-left: 16%;
  margin-right: 10%;
}

  .create-account-overlay-box {
    width: 30%;
    height: 150px;
    float: left;
    background-color: #2B7F7B;
    margin: 1%;
  }

  .profile-information {
    width: 66%;
    height: 224px;
    float: right;
    background-color: #000000;
    margin: 1%;
  }

  .profile-questions-asked {
    width: 30%;
    height: 300px;
    float: left;
    background-color: #ffffff;
    margin-left: 1%;
    margin-bottom: 1%;
  }

  .profile-questions-answered {
    width: 66%;
    height: 224px;
    float: right;
    background-color: #ffffff;
    margin-right: 1%;
    margin-bottom: 1%;
  }
