@import "variables";
@import "mixins";

body {
  background: linear-gradient(to right, rgba(black,0.5),
  rgba(255,255,255,0)),
   linear-gradient(
         rgba(black, 0.25),
        rgba(black, 0.25)
       ),
       url("../images/main-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
  }
//
// .mainbody{
//   background:
//   linear-gradient(
//         rgba(black, 0.25),
//         rgba(black, 0.25)
//       ),
//   url("../images/main-background.jpg");
//   background-size:cover;
//   margin:0;
// }



// diagnose title
.diag-main-title{
  @include largefont;
  font-weight:500;
  color:white;
  text-align:center;
}

// .diag-state-circle{
//   height:10px;
//   width:10px;
//   display:inline-block;
//   text-align:center;
//   background-color:rgba($seafoam, .75);
//   border-radius:100%;
//   padding:1%;
// }

// select make/year/model box
.outer-box{
  background-color:rgba(white, .25);
  height:300px;
  width:80%;
  padding:1%;
  margin:0 auto;
  position:relative;
  // top:100px;

  .diag-select-title{
    @include mediumfont;
    font-weight:500;
    color:white;
    text-align:center;
    margin-top:0;
  }

  .diag-select-box{
    background-color:white;
    height:55px;
    width:20%;
    display:inline-block;
    margin:2%;

    .diag-select-text{
      @include regularfont;
      color:$teal;
      font-size:16px;
      text-align:center;
    }
  }

  a{
    text-decoration:none;
  }



  .diag-select-box:hover{
    background-color:$teal;
    cursor:pointer;
     .diag-select-text{
       color:white;
     }
  }


}
