@import "variables";
@import "mixins";

.mainbody  {
  background: url("../images/bikedetails-background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  margin:0;
}


hr {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

// .diag-state-circle{
//   height:10px;
//   width:10px;
//   display:inline-block;
//   text-align:center;
//   background-color:rgba($seafoam, .75);
//   border-radius:100%;
//   padding:1%;
// }

// select make/year/model box
.outer-box{
  background-color:rgba(#cab298, .40);
  height:auto;
  width: auto;
  max-width: 80%;
  padding-bottom:2%;
  margin:0 auto;

  .diag-select-box{
    background-color:white;
    height:45px;
    width:30%;
    height:35px;
    width:21%;
    display:inline-block;
    margin-left: 2.85%;
    margin-top:1%;
    margin-bottom: 1%;

    .modaltext {
      color: $teal;
      @include smallfont;
      color: $golden;
      margin-top: 5%;
    }

    .modaltext:hover {
      color: white;
    }

    .diag-select-text{
      @include regularfont;
      @include verticalcenter;
      text-align:center;
      color:$charcoal;
      font-size:16px;
      margin:0;
    }
  }

  a{
    text-decoration:none;
  }

  .diag-select-box:hover{
    background-color:$charcoal;
    color:white;
    cursor:pointer;
    transition: .5s;
     .diag-select-text{
       color:white;

     }
  }
}

  .diag-select-title {
    @include mediumfont;
    background-color:$charcoal;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    padding:.5% 0 .5% 38%;
    margin-top: -26px;
  }

.stepscircles {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float:right;
  margin:1.2% 2% 0 .5%;
  background-color:white;
  text-align:center;
}

.step-number {
margin: 0px;
@include smallfont;
color: $darkteal;
transition: .5s;
margin-left: 1%;
}

.selected{
    background-color: grey;
}

.mainfooter{
  position:absolute;
  bottom:0;
}
