@import "variables";
@import "mixins";


.searchbar{
  width:20%;
  margin:2% 3%;
  float:left;
  position:relative;
  bottom:10px;
}

.templatenav{

    li{
      display:inline-block;
      padding:2% .75%;
      margin:0;
      float:left;

      a{
        text-decoration:none;
        color:white;
        @include smallfont;
        font-size: 1.25rem;
        position:relative;
      }

}

      a:after{
        display:block;
        position:absolute;
        bottom:30px;
        height:5px;
        width:0px;
        background-color:$golden;
        transition:width .5s;
        content:"";
        z-index:-1;
      }

      .link1:hover:after{
        width:100%;
      }

      .link2:hover:after{
        width:100%;
      }

      .link3:hover:after{
        width:100%;
      }
    }

.mainbody{
  background: linear-gradient(to right, rgba(black,.6),
  rgba(255,255,255,0)),
   linear-gradient(
         rgba(#5c605f, 0.15),
        rgba(#5c605f, 0.15)
       ),
  url("../images/main-background.jpg");
  background-size:cover;
  margin:0;
}



// diagnose title
.diag-main-title {
  @include mediumfont;
  font-weight:500;
  color:white;
  text-align:left;
  margin-left: 10%;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

// .diag-state-circle{
//   height:10px;
//   width:10px;
//   display:inline-block;
//   text-align:center;
//   background-color:rgba($seafoam, .75);
//   border-radius:100%;
//   padding:1%;
// }

// select make/year/model box
.outer-box{
  background-color:rgba(white, .15);
  height:auto;
  width: auto;
  max-width: 50%;
  // padding-left:3%;
  padding-top: 1%;
  // padding-right: 3%;
  padding-bottom: 1%;
  margin:0 auto;
  position:relative;

  .diag-select-title{
    @include mediumfont;
    font-weight:400;
    color:white;
    text-align:center;
    margin-top:0;
    margin-bottom: 0;

  }

  .diag-select-box{
    background-color:white;
    height:35px;
    width:21%;
    display:inline-block;
    margin-left: 2.85%;
    margin-top:1%;
    margin-bottom: 1%;
    padding: 0;


    h4 {
      @include smallfont;
      color: $teal;
      margin-top: 5%;
    }
    h4:hover {
      color: white;
    }
    .diag-select-text{
      @include regularfont;
      color:$teal;
      font-size:16px;
      text-align:center;
    }
  }

  a{
    text-decoration:none;
  }


  .diag-select-box:hover{
    background-color:$teal;
    cursor:pointer;
    transition: .5s;
     .diag-select-text{
       color:white;
     }
  }
}

.progression {
  display: flex;
  -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
 }

.stepscircles {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: $seafoam;
  flex: 0 0 20px;
  margin-left: 10px;
  margin-bottom: 2%;
}

.stepscircles:hover {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: $golden;
  flex: 0 0 20px;
  margin-left: 10px;
  margin-bottom: 2%;
}

.mainfooter{
  position:absolute;
  bottom:0;
}
