@mixin smallfont{
  font-size:1rem;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin smallregularfont {
  font-size:1.2rem;
  font-family:gill sans;
  text-transform:uppercase;
}
@mixin regularfont{
  font-size:1.5rem;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin regularmedfont{
  font-size:1.6rem;
  font-family:gill sans;
  text-transform:uppercase;

}

@mixin mediumfont{
  font-size:2rem;
  font-family:gill sans;
  text-transform:uppercase;
  font-weight: normal;

}

@mixin largefont{
  font-size:3rem;
  font-family:gill sans;
  text-transform:uppercase;

}

@mixin verticalcenter{
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
