@mixin smallfont{
  font-size:1rem;
  font-family:gill sans;
  text-transform:uppercase;
  font-weight: normal;
}

@mixin regularfont{
  font-size:1.5rem;
  font-family:gill sans;
  text-transform:uppercase;
  font-weight: normal;

}

@mixin mediumfont{
  font-size:2rem;
  font-family:gill sans;
  text-transform:uppercase;
  font-weight: normal;

}

@mixin largefont{
  font-size:3.75rem;
  font-family:gill sans;
  text-transform:uppercase;
  font-weight: normal;

}

@mixin verticalcenter{
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
