@import "variables";
@import "mixins";


.problist-page-title{
  @include mediumfont;
  font-weight:500;
  color:white;
  text-align:left;
  margin-bottom:0;
}

.problist-page-title a{
  text-decoration:none;
  color:white;
}

  .problem-list-box {
    display:block;
    width:80%;
    background-color: white;
    background-size: auto;
    height: 400px;
    margin:0 auto;
    overflow:auto;
   }

  .problem-title{
    @include smallregularfont;
    color: $charcoal;
    font-weight: 400;
    text-decoration:none;
  }

  h2, h5{
    margin:0;
  }

  .problem-header{
    @include mediumfont;
    text-align:center;
    background-color:$charcoal;
    color:white;
    margin:0;
  }

  .problem-title {
    @include smallregularfont;
    font-weight:400;

    a{
      text-decoration:none;
      color:$charcoal;
    }
  }

  .date-time {
    @include smallfont;
    color: $charcoal;
    font-weight: 400;
    text-decoration: none;
  }

  .posted-by {
    @include smallfont;
    color: $charcoal;
    font-weight: 400;
    text-decoration: none;
    padding-top: 0;
  }

  .date-time, .posted-by {
    display: inline;
  }

  .date-time{
    display:inline-block;
    color:$teal;
    margin:0;
    font-weight:500;
}

  .tech-rating{
    display:inline-block;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0 .5%;
  }

  .problem-container {
    background-color:rgba(lightgray, .3);
    padding:1%;
  }

  .problem-container:nth-child(odd){
    background-color:white;
  }

  .problem-container:hover{
    background-color:rgba($golden, .4);
    transition: .5s;
  }
