@import "variables";
@import "mixins";

.userprofilebody {
  background-image:
  linear-gradient(
        rgba($charcoal, 0.5),
        rgba($charcoal, 0.5)
      ),
  url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
}
//Title background
.profile-details-goldendecor {
  background-color: $golden;
  width: 70%;
  padding-top: 1%;
  height: 70px;
  margin-left: 15%;
  margin-top: 7%;
  margin-right: 15%;
}
//Page Title
.profile-title {
  @include mediumfont;
  color: white;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: -2%;
  font-weight: 200;
  padding-top: 1%;
  padding-bottom: 1%;
  hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }
}
//Container for the profile page
.profile-details-container {
height: auto;
width:70%;
background-color: white;
padding-top: 2%;
padding-bottom: 2%;
box-sizing:border-box;
margin: 0 auto;
overflow:hidden;
}

.photo-box {
// width: 30%;
height: 220px;
float: left;
margin-top: 2%;
margin-left: 2%;
margin-bottom: 1%;
padding:1%;
background-color: white;

.profile-photo img {
margin: 0 auto;
  }
}
.profile-photo {

}
.profile-page-information-area {
font-size: 1rem;
font-weight: 400;
margin-top: .5%;
box-sizing:border-box;
height: 210px;
}
.profile-information-details {
  width: 52%;
  float: right;
  background-color: white;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 2%;
  padding: 2%;
  overflow: scroll;
    h4 {
      margin-top: 1%;
      margin-bottom: 1%;
    }
    p {
      @include smallfont;
      background-color: $golden;
      color: white;
      text-align: center;
      margin-top: 1px;
    }
}
.profile-page-username {
  @include regularfont;
  color: $charcoal;
  font-weight: 200;
  margin-top: 1%;
  margin-bottom: 1%;
}

.modaltext {
  @include smallfont;
  color: $charcoal;
  font-weight: 200;
}
.post-container {
  @include smallfont;
  color: $charcoal;
  margin: 0;
}

.profile-box {
  width: 30%;
  height: 220px;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  background-color: white;
  position: relative;
}
.profile-questions-asked {
  width: 92%;
  height: 220px;
  float: right;
  background-color: #ffffff;
  margin-right: 2%;
  margin-top: 2%;
  padding: 2%;
  overflow: scroll;
    p {
      @include smallfont;
      background-color: $seafoam;
      color: white;
      text-align: center;
      margin-top: 1px;
      padding: 2%;
    }
}
.techAnswers {

}
.profile-questions-answered {
  width: 92%;
  height: 220px;
  float: right;
  background-color: #ffffff;
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 2%;
  overflow: scroll;
    p {
      @include smallfont;
      background-color: $seafoam;
      color: white;
      text-align: center;
      margin-top: 1px;
      padding: 2%;
    }
}
.profile-techQuestions {

}
.exitbutton {
  height:40px;
  width:100%;
  box-sizing:border-box;
  @include smallfont;
  float: right;
  text-align: right;
  margin-right: 15%;
  margin-top: 1%;
    a{
      text-decoration:none;
      color:$charcoal;
      padding:.5%;
      background-color:$seafoam;
}
    a:hover{
      color:$seafoam;
      background-color:$charcoal;
      }
}

h4.tech-rating {
  margin-top: 1%;
  margin-bottom: 1%;
}
