@import "variables";
@import "mixins";

.profile-page-username {
  @include regularfont;
  color: $charcoal;
font-weight: 200;
margin-top: 1%;}


.profile-page-information {
font-size: 1rem;
font-weight: 400;
margin-top: .5%;
}
.modaltext {
  @include smallfont;
  color: $charcoal;
  font-weight: 200;
}
.userprofilebody {
  background-image:
  linear-gradient(
        rgba(black, 0.75),
        rgba(black, 0.75)
      ),
  url("../images/index-background.jpg");
  background-size:cover;
  margin:0;
  overflow:auto;
}

.post-container {
  @include smallfont;
  color: $charcoal;
  margin: 0;
}
.profile-title {
  @include mediumfont;
  color: white;
  text-align: center;
  margin-top: 8%;
  margin-bottom: -.25%;
}

.profile-photo img {
  display: block;
  height: 220px;
  margin: 0 auto;
  // margin-left: 5%;
}

.profile-details {
  display: inline-block;
  width:70%;
  background-color: white;
  margin: 0 auto;
  margin-top: 10%;
}

.profile-box {
    width: 30%;
    height: 220px;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    background-color: white;
    position: relative;
    // padding-top: 20px;
    // padding-bottom: 20px;
    // padding-left: 4%;
}


  .profile-information {
    width: 26%;
    height: 170px;
    float: left;
    background-color: #ffffff;
    margin-left: 2%;
    margin-bottom: -1%;
    padding: 2%;
    overflow: scroll;

    p {
      @include smallfont;
      background-color: $golden;
      color: white;
      text-align: center;
      margin-top: 1px;
    }
  }

  .profile-questions-asked {
    width: 60%;
    height: 170px;
    float: right;
    background-color: #ffffff;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    overflow: scroll;

      p {
        @include smallfont;
        background-color: $seafoam;
        color: white;
        text-align: center;
        margin-top: 1px;
        padding: 2%;
      }
  }


  .profile-questions-answered {
    width: 60%;
    height: 170px;
    float: right;
    background-color: #ffffff;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2%;
    overflow: scroll;
      p {
        @include smallfont;
        background-color: $seafoam;
        color: white;
        text-align: center;
        margin-top: 1px;
        padding: 2%;
      }
  }


    .exitbutton {
      height:40px;
      width:100%;
      // padding-top:9%;
      box-sizing:border-box;
      @include smallfont;
      float: right;
      text-align: right;
      margin-right: 15%;
      margin-top: 1%;
      // margin-bottom: 10%;


      a{
        text-decoration:none;
        color:$charcoal;
        padding:.5%;
        background-color:$seafoam;

      }

      a:hover{
        color:$seafoam;
        background-color:$charcoal;

      }
    }



//
//   /* ----------- iPad mini ----------- */
//
//   /* Portrait and Landscape */
//   @media only screen
//     and (min-device-width: 768px)
//     and (max-device-width: 1024px)
//     and (-webkit-min-device-pixel-ratio: 1)
//
// {
//
//
// }
//
//
//     /* ----------- iPad 1 and 2 ----------- */
//     /* Portrait and Landscape */
//     @media only screen
//       and (min-device-width: 768px)
//       and (max-device-width: 1024px)
//       and (-webkit-min-device-pixel-ratio: 1)
// {
//
//
// }
//
//
//
//
//       /* Portrait and Landscape */
//       @media only screen
//         and (min-device-width: 320px)
//         and (max-device-width: 667px)
//         and (-webkit-min-device-pixel-ratio: 2)
