@import "variables";
@import "mixins";

.userprofilebody {
  background-image:
  linear-gradient(
        rgba(black, 0.75),
        rgba(black, 0.75)
      ),
  url("../images/index-background.jpg");
  background-size:cover;
  margin:0;
  overflow:auto;
}

.profile-title p {
  @include mediumfont;
  color: white;
  text-align: center;
  margin-top: 1%;
  margin-bottom: -.25%;
}


.profile-details {
  display: inline-block;
  width:70%;
  background:
  linear-gradient(
        rgba(white, 0.25),
        rgba(white, 0.25)
      ),;
  margin-left: 16%;
  margin-right: 10%;
}

  .profile-photo {
    width: 30%;
    height: 224px;
    float: left;
    background-color: #2B7F7B;
    margin-top: 1%;
    margin-left: 1%;
  }

  .profile-questions-asked {
    width: 66%;
    height: 224px;
    float: right;
    background-color: #ffffff;
    margin-right: 1%;
    margin-top: 1%;
  }

  .profile-information {
    width: 30%;
    height: 300px;
    float: left;
    background-color: #ffffff;
    margin: 1%;
    margin-bottom: 1%;
  }

  .profile-questions-answered {
    width: 66%;
    height: 300px;
    float: right;
    background-color: #ffffff;
    margin-right: 1%;
    margin-bottom: 1%;
  }
