@import "variables";
@import "mixins";

.prob-detailbody{
  background:
  linear-gradient(
        rgba(black, 0.25),
        rgba(black, 0.25)
      ),
  url("../images/main-background.jpg");
  background-size:cover;
  margin:0;
}

.prob-detail-boxes-container{
  // position:relative;
  // top:90px;
}

.prob-detail-boxes{
  height:125px;
  width:60%;
  margin:2% auto;
  background-color:white;
}

.prob-detail-comments-box{
  width:40%;
  float:left;
  margin:3% 0 0 20%;
}

.prob-detail-box-name{
  @include regularfont;
  color:white;
  text-align:center;
  margin:0;
}
