@import "variables";
@import "mixins";


.prob-detailbody{
  background-image:url("../images/bikedetails-background.jpg");
  background-size:cover;
  background-attachment:fixed;
  margin:0;
}

.prob-form-background{
  height:auto;
  width:80%;
  margin:0 auto;
  // padding:2%;

  .prob-header, .sol-header, .sol-name{
    @include mediumfont;
    color:white;
    background-color:$charcoal;
    text-align:center;
    margin:0;
    padding:.5% 0;
  }

  .sol-header, .sol-name{
    @include smallregularfont;
    background-color:#ccc;
    color:$charcoal;
  }

  .prob-title{
    margin:0;
  }

  .question-text{
      font-weight:500;
      text-transform:none;
      font-size:1rem;
      margin-left:-10%;
  }

  .posted-by{
    display:inline-block;
    margin-bottom:10px;
  }

  .tech-rating{
    display:inline-block;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0 .5%;
  }

  .date-time{
    display:inline-block;
    color:$teal;
    margin:0;
    font-weight:500;
  }

  .solution-score{
    display:inline-block;
  }

  .solution-time, .solution-cost{
    float:right;
    padding:0 1%;
  }

  .timecost-value{
    color:$teal;
  }

  .describe-title{
    @include regularfont;
    color:$charcoal;
    text-align:center;
    font-weight: 400;
    margin-top: 7%;
  }

  .form-text{
    text-align:center;
    @include smallfont;
    font-weight: 400;
    margin: 1%;
  }

  .counterSolution{
      text-align: right;
      margin-right: 10%;
      margin-top: 1%;
  }


  .prob-box, .sol-form-container{
    height:auto;
    background-color:rgba(white, 1);
    margin:0 auto;
    padding:2%;
    box-sizing:border-box;
  }

  .sol-box{
    height:auto;
    background-color:rgba(white, 1);
    margin:0 auto;
    border-bottom:.5px solid #ccc;
    padding:2%;
    box-sizing:border-box;
  }

  .arrow{
    color:white;
    cursor:pointer;
  }

  .vote{
    border:0;
    border-radius:100%;
    background-color:$charcoal;
  }

  .solution-score{
    margin-top:30px;
  }

  .time-input{
    display:inline-block;
    height:20px;
    width:20%;
    text-align:center;
    margin-left:38%;
  }

  .cost-input{
    display:inline-block;
    height:20px;
    width:50%;
    text-align:center;
  }

  .dollar, .hrs{
    @include smallfont;
    color:$charcoal;
    display:inline-block;
  }

  .hrs{
    float:right;
    margin:.5% 38% 0 0;
    text-transform:lowercase;
  }

  .dollar{
    margin:0 0 0 37%;
  }

  .solution-box{
    display:block;
    margin:0 auto;
    width:80%;
    height:auto;
  }

  .solution-text{
    font-weight:500;
    text-transform:none;
    font-size:1rem;
  }

  .solution-submit{
    color:white;
    background-color:$charcoal;
    @include smallfont;
    padding:2%;
    display:block;
    margin:0 auto;
    // margin-bottom: 2%;
    border:0px;
    box-sizing:border-box;
    cursor: pointer;
  }

  .solution-submit:hover{
    background-color:white;
    color:$charcoal;
    border:1px solid $charcoal;
    transition: .5s;
  }

  .time-box {
    float: left;
    width: 50%;
  }
  .cost-box {
    float: right;
    width: 50%;
  }

  .prob-title {
    @include regularfont;
    font-weight: 600;
  }
  .posted-by {
    @include smallfont;
    font-weight: 600;
  }
  .question-text {
    @include smallfont;
    font-weight: 400;
    margin-left: 10%;
  }
  .prob-form {
    margin-left: 10%;
    margin-right: 10%;
  }
}
