@import "variables";
@import "mixins";

.servicespagebody {
  background-image:
  linear-gradient(
        rgba(black, 0.75),
        rgba(black, 0.75)
      ),
  url("../images/index-background.jpg");
  background-size:cover;
  margin:0;
}

//
// .create-account-overlay-box {
//   display: inline-block;
//   width:70%;
//   background:
//   linear-gradient(
//         rgba(white, 0.25),
//         rgba(white, 0.25)
//       ),;
//   margin-left: 16%;
//   margin-right: 10%;
// }

  .sabout-us-details {
    width: auto;
    height: auto;
    background-color: #2B7F7B;
    margin: 1%;
  }
