.indexbody {
  margin: 0;
  background-image: url("../images/index-background.jpg");
  background-size: cover; }

.indexnav {
  width: 11%;
  margin-left: 10%;
  background-color: rgba(175, 175, 178, 0.35);
  padding: 1%;
  float: left;
  overflow: hidden;
  margin-bottom: 0; }
  .indexnav ul {
    text-align: right;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 20%;
    float: left; }
    .indexnav ul li {
      clear: both;
      list-style-type: none;
      padding-bottom: 1%;
      font-size: 1.5rem;
      font-family: gill sans;
      text-transform: uppercase; }
      .indexnav ul li a {
        text-decoration: none;
        color: white;
        position: relative; }
      .indexnav ul li a:after {
        display: block;
        position: absolute;
        bottom: 0px;
        height: 1.2em;
        width: 0px;
        background-color: #ba973a;
        transition: width .5s;
        content: "";
        z-index: -1; }
      .indexnav ul li .link1:hover:after {
        width: 155%; }
      .indexnav ul li .link2:hover:after {
        width: 165%; }
      .indexnav ul li .link3:hover:after {
        width: 138%; }
    .indexnav ul .logobox {
      width: 100%;
      margin-bottom: 15%; }
      .indexnav ul .logobox .logo {
        width: 100%; }

form input {
  height: 30px;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 150px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.button {
  height: 50px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #87b0aa;
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border: 0; }
  .button a {
    text-decoration: none;
    color: #313237;
    padding: 15%; }
  .button a:hover {
    text-decoration: none;
    color: #a8bdba; }

.button:hover {
  background-color: #313237;
  color: #a8bdba; }

/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .indexbody {
    background: url("../images/media-index-background.jpg");
    background-width: auto;
    background-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    margin: 0; }

  .indexnav {
    height: 100%;
    width: 60%;
    margin: 10%;
    background-color: rgba(175, 175, 178, 0.35);
    padding: 10%;
    float: left;
    overflow: hidden; }
    .indexnav ul {
      text-align: left;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      margin-bottom: 5%;
      float: left; }
      .indexnav ul li {
        clear: both;
        list-style-type: none;
        padding-bottom: 1%;
        font-size: 1.5rem;
        font-family: gill sans;
        text-transform: uppercase; }
        .indexnav ul li a {
          text-decoration: none;
          color: white;
          position: relative; }
        .indexnav ul li a:after {
          display: block;
          position: absolute;
          bottom: 0px;
          height: 1.2em;
          width: 0px;
          background-color: #ba973a;
          transition: width .5s;
          content: "";
          z-index: -1; }
        .indexnav ul li .link1:hover:after {
          width: 155%; }
        .indexnav ul li .link2:hover:after {
          width: 165%; }
        .indexnav ul li .link3:hover:after {
          width: 138%; }
      .indexnav ul .logobox {
        width: 100%;
        margin-bottom: 35%; }
        .indexnav ul .logobox .logo {
          height: 150px;
          width: auto; } }
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .indexbody {
    background: url("../images/media-index-background.jpg");
    background-width: auto;
    background-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    margin: 0; }

  .indexnav {
    height: 100%;
    width: 60%;
    margin: 10%;
    background-color: rgba(175, 175, 178, 0.35);
    padding: 10%;
    float: left;
    overflow: hidden; }
    .indexnav ul {
      text-align: left;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      margin-bottom: 15%;
      float: left; }
      .indexnav ul li {
        clear: both;
        list-style-type: none;
        padding-bottom: 5%;
        font-size: 1.5rem;
        font-family: gill sans;
        text-transform: uppercase; }
        .indexnav ul li a {
          text-decoration: none;
          color: white;
          position: relative; }
        .indexnav ul li a:after {
          display: block;
          position: absolute;
          bottom: 0px;
          height: 1.2em;
          width: 0px;
          background-color: #ba973a;
          transition: width .5s;
          content: "";
          z-index: -1; }
        .indexnav ul li .link1:hover:after {
          width: 155%; }
        .indexnav ul li .link2:hover:after {
          width: 165%; }
        .indexnav ul li .link3:hover:after {
          width: 138%; }
      .indexnav ul .logobox {
        width: 100%;
        margin-bottom: 35%; }
        .indexnav ul .logobox .logo {
          height: 275px;
          width: auto; } }
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .indexbody {
    background: url("../images/media-index-background.jpg");
    background-width: auto;
    background-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    margin: 0; }

  .indexnav {
    height: 100%;
    width: 60%;
    margin: 10%;
    background-color: rgba(175, 175, 178, 0.35);
    padding: 10%;
    float: left;
    overflow: hidden; }
    .indexnav ul {
      text-align: left;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      margin-bottom: 5%;
      float: left; }
      .indexnav ul li {
        clear: both;
        list-style-type: none;
        padding-bottom: 1%;
        font-size: 1.5rem;
        font-family: gill sans;
        text-transform: uppercase; }
        .indexnav ul li a {
          text-decoration: none;
          color: white;
          position: relative; }
        .indexnav ul li a:after {
          display: block;
          position: absolute;
          bottom: 0px;
          height: 1.2em;
          width: 0px;
          background-color: #ba973a;
          transition: width .5s;
          content: "";
          z-index: -1; }
        .indexnav ul li .link1:hover:after {
          width: 155%; }
        .indexnav ul li .link2:hover:after {
          width: 165%; }
        .indexnav ul li .link3:hover:after {
          width: 138%; }
      .indexnav ul .logobox {
        width: 100%;
        margin-bottom: 35%; }
        .indexnav ul .logobox .logo {
          height: 150px;
          width: auto; } }
.createaccountbody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/index-background.jpg");
  background-size: cover;
  margin: 0; }

.create-account-overlay-box {
  display: inline-block;
  width: 70%;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  margin-left: 16%;
  margin-right: 10%; }

.create-account-overlay-box {
  width: 30%;
  height: 150px;
  float: left;
  background-color: #2B7F7B;
  margin: 1%; }

.profile-information {
  width: 66%;
  height: 224px;
  float: right;
  background-color: #000000;
  margin: 1%; }

.profile-questions-asked {
  width: 30%;
  height: 300px;
  float: left;
  background-color: #ffffff;
  margin-left: 1%;
  margin-bottom: 1%; }

.profile-questions-answered {
  width: 66%;
  height: 224px;
  float: right;
  background-color: #ffffff;
  margin-right: 1%;
  margin-bottom: 1%; }

#searchThis {
  height: 30px;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 20% !important; }

#searchBox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0px; }

#searchButton {
  background-color: rgba(255, 255, 255, 0.55);
  border: 0px;
  width: 40px; }

#searchButton:hover {
  background-color: #a8bdba;
  border: 0px;
  width: 40px;
  transition: .5s; }

.templatenav {
  display: inline; }
  .templatenav li {
    display: inline-block;
    padding: 1% 0%;
    margin-left: 1%;
    margin-right: 1%;
    float: left; }
    .templatenav li a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-family: gill sans;
      text-transform: uppercase;
      position: relative; }
  .templatenav a:after {
    display: block;
    position: absolute;
    bottom: 30px;
    height: 5px;
    width: 0px;
    background-color: #ba973a;
    transition: width .5s;
    content: "";
    z-index: -1; }
  .templatenav .link1:hover:after {
    width: 100%; }
  .templatenav .link2:hover:after {
    width: 100%; }
  .templatenav .link3:hover:after {
    width: 100%; }

.mainbody {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/bikedetails-background.jpg");
  background-size: cover;
  margin: 0; }

.diag-main-title {
  font-size: 2rem;
  font-family: gill sans;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  text-align: left;
  margin-left: 10%; }

hr {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%; }

.outer-box {
  background-color: rgba(202, 178, 152, 0.4);
  height: auto;
  width: auto;
  max-width: 80%;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
  position: relative;
  margin-left: 10%;
  margin-right: 10%; }
  .outer-box .diag-select-title {
    font-size: 2rem;
    font-family: gill sans;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0; }
  .outer-box .diag-select-box {
    background-color: white;
    height: 45px;
    width: 30%;
    opacity: .8;
    height: 35px;
    width: 21%;
    display: inline-block;
    margin-left: 2.85%;
    margin-top: 1%;
    margin-bottom: 1%; }
    .outer-box .diag-select-box h4 {
      color: #709c97;
      font-size: 1rem;
      font-family: gill sans;
      text-transform: uppercase;
      color: #ba973a;
      margin-top: 5%; }
    .outer-box .diag-select-box h4:hover {
      color: white; }
    .outer-box .diag-select-box .diag-select-text {
      font-size: 1.5rem;
      font-family: gill sans;
      text-transform: uppercase;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #709c97;
      font-size: 16px;
      margin: 0; }
  .outer-box a {
    text-decoration: none; }
  .outer-box .diag-select-box:hover {
    background-color: #313237;
    cursor: pointer;
    transition: .5s; }
    .outer-box .diag-select-box:hover .diag-select-text {
      color: #87b0aa; }

.outer-box .diag-select-title {
  font-size: 2rem;
  font-family: gill sans;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
  background-color: rgba(135, 176, 170, 0.9); }

.progression {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  margin: 0 auto;
  position: relative;
  width: 100%; }

.stepscircles {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #a8bdba;
  margin-left: 10px;
  margin-bottom: 2%;
  margin-top: 10%; }

.stepscircles:hover {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #ba973a;
  flex: 0 0 20px;
  margin-left: 10px;
  margin-bottom: 2%; }

.mainfooter {
  position: absolute;
  bottom: 0; }

.bikedetailsbody {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), linear-gradient(rgba(92, 96, 95, 0.15), rgba(92, 96, 95, 0.15)), url("../images/bikedetails-background.jpg");
  background-size: cover;
  margin: 0; }

.background-white {
  background-color: rgba(202, 178, 152, 0.4);
  height: auto;
  width: auto;
  max-width: 80%;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
  position: relative;
  margin-left: 10%;
  margin-right: 10%; }

.details-main-title {
  font-size: 2rem;
  font-family: gill sans;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  text-align: left;
  margin-left: 10%; }

hr {
  margin-left: 10%;
  margin-right: 10%; }

h1 {
  margin-top: 2%;
  margin-bottom: 0%; }

.specs {
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  font-weight: 200;
  text-align: center;
  background-color: #ba973a; }

.bikedetailsline {
  display: inline; }

.post-container h4 {
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white; }

.systems {
  text-align: center;
  position: relative;
  top: 20px; }
  .systems a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: gill sans;
    text-transform: uppercase;
    color: #709c97;
    margin: 0; }
    .systems a .sys {
      height: 170px;
      width: 170px;
      margin: 0 3%;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 100%;
      padding-top: 5.5%;
      box-sizing: border-box; }
  .systems .sys:hover {
    background-color: #ba973a;
    transform: rotate(360deg);
    transition: .5s; }

.bikedetails-footer {
  position: absolute;
  bottom: 0; }

.prob-detailbody {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/main-background.jpg");
  background-size: cover;
  overflow: auto;
  background-attachment: fixed; }

.prob-detail-container {
  background-color: rgba(49, 50, 55, 0.5);
  text-align: center;
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase;
  margin: 5% 5%;
  padding: 3% 0; }

.prob-detail-title {
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0; }

.prob-detail-boxes {
  height: 125px;
  width: 80%;
  display: block;
  margin: 2% auto 5% auto;
  background-color: rgba(255, 255, 255, 0.9); }

.solutiontimecost-container {
  border: 1px solid white;
  display: inline-block;
  width: 40%;
  margin: 2% auto 5% auto;
  padding: 1%;
  box-sizing: border-box; }
  .solutiontimecost-container .solutiontimecost-text {
    font-size: 1rem;
    font-family: gill sans;
    text-transform: uppercase;
    color: white; }
  .solutiontimecost-container .solutiontimecost-input {
    text-align: center;
    padding: 3%;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #313237; }

.prob-detail-comments-box {
  width: 40%;
  float: left;
  margin: 3% 0 0 20%; }

.prob-detail-submit {
  color: #313237;
  background-color: white;
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase;
  padding: 2%;
  padding-top: .7%;
  border: transparent; }

.prob-detail-submit:hover {
  color: white;
  background-color: #313237; }

h1 {
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: #313237; }

h4 {
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: #313237;
  font-weight: 400;
  font-size: .75em; }

.userprofilebody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/index-background.jpg");
  background-size: cover;
  margin: 0;
  overflow: auto; }

.profile-title p {
  font-size: 2rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 1%;
  margin-bottom: -.25%; }

.profile-photo {
  background-image: url("../images/userprofileimg1.png");
  display: inline-block;
  width: 170px;
  height: 170px;
  border: 3px #ba973a solid;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.profile-details {
  display: inline-block;
  width: 70%;
  background: linear-gradient(rgba(175, 175, 178, 0.55), rgba(175, 175, 178, 0.55));
  margin-left: 16%;
  margin-right: 10%; }

.profile-box {
  width: 26%;
  height: 170px;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%; }

.profile-information {
  width: 26%;
  height: 170px;
  float: left;
  background-color: #ffffff;
  margin-left: 2%;
  margin-bottom: 2%;
  padding: 2%;
  overflow: scroll; }
  .profile-information p {
    font-size: 1rem;
    font-family: gill sans;
    text-transform: uppercase;
    background-color: #ba973a;
    color: white;
    text-align: center;
    margin-top: 1px;
    padding: 2%; }

.profile-questions-asked {
  width: 60%;
  height: 170px;
  float: right;
  background-color: #ffffff;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  overflow: scroll; }
  .profile-questions-asked p {
    font-size: 1rem;
    font-family: gill sans;
    text-transform: uppercase;
    background-color: #a8bdba;
    color: white;
    text-align: center;
    margin-top: 1px;
    padding: 2%; }

.profile-questions-answered {
  width: 60%;
  height: 170px;
  float: right;
  background-color: #ffffff;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  overflow: scroll; }
  .profile-questions-answered p {
    font-size: 1rem;
    font-family: gill sans;
    text-transform: uppercase;
    background-color: #a8bdba;
    color: white;
    text-align: center;
    margin-top: 1px;
    padding: 2%; }

.exitbutton {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase;
  float: right;
  text-align: right;
  margin-right: 15%;
  margin-top: 1%; }
  .exitbutton a {
    text-decoration: none;
    color: #313237;
    padding: .5%;
    background-color: #a8bdba; }
  .exitbutton a:hover {
    color: #a8bdba;
    background-color: #313237; }

body {
  margin: 0;
  overflow: auto; }

header {
  height: 58px;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 2%; }
  header .templatelogo {
    width: 15%;
    float: left;
    margin-right: 2%;
    margin-top: 1.5%; }
  header .search {
    width: 10%;
    float: left;
    position: relative;
    bottom: 10px; }
  header .templatenav {
    display: inline; }
    header .templatenav li {
      list-style-type: none;
      display: inline-block;
      margin-left: 2%;
      float: left; }
      header .templatenav li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-family: gill sans;
        text-transform: uppercase;
        font-size: 1.25rem;
        text-align: right; }
      header .templatenav li a:after {
        display: block;
        position: absolute;
        bottom: 30px;
        height: 5px;
        width: 0px;
        background-color: #a8bdba;
        transition: width .5s;
        content: ""; }
      header .templatenav li .link1:hover:after {
        width: 100%; }
      header .templatenav li .link2:hover:after {
        width: 100%; }
      header .templatenav li .link3:hover:after {
        width: 100%; }

.dropdown {
  display: none;
  padding-left: 1%;
  position: absolute;
  top: 70px; }

header .templatenav .dropdown li a {
  font-size: 1.1rem; }

header .templatenav .dropdown li a:hover {
  color: #313237; }

.droplist {
  display: block;
  clear: both;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)); }

.droplist:hover {
  background-color: #a8bdba;
  transition: .5s; }

.remodal {
  background: linear-gradient(37.5deg, rgba(168, 189, 186, 0.5) 1%, #709c97 99%); }

.modaltext {
  color: white;
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase; }

.problemtitle-field {
  height: 50px;
  width: 30%;
  text-align: center;
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: #313237; }

.submit-button {
  color: #709c97;
  background-color: white;
  font-size: 1rem;
  font-family: gill sans;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 1%;
  border: transparent;
  margin-top: 10px; }

.submit-button:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer; }

footer {
  clear: both;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%; }
  footer p {
    color: white;
    text-align: center;
    padding-top: .5%;
    margin: 0;
    font-family: gill sans;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
