.indexbody {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url("../images/index-background.jpg");
  background-size: cover;
  repeat: no repeat;
  margin: 0; }

.indexnav {
  height: 100%;
  width: 11%;
  margin-left: 10%;
  background-color: rgba(175, 175, 178, 0.35);
  padding: 1%;
  float: left;
  overflow: hidden; }
  .indexnav ul {
    text-align: right;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 35%;
    float: left; }
    .indexnav ul li {
      clear: both;
      list-style-type: none;
      padding-bottom: 1%;
      font-size: 1.5rem;
      font-family: gill sans;
      text-transform: uppercase; }
      .indexnav ul li a {
        text-decoration: none;
        color: white;
        position: relative; }
      .indexnav ul li a:after {
        display: block;
        position: absolute;
        bottom: 0px;
        height: 30px;
        width: 0px;
        background-color: #b68d58;
        transition: width .5s;
        content: "";
        z-index: -1; }
      .indexnav ul li .link1:hover:after {
        width: 155%; }
      .indexnav ul li .link2:hover:after {
        width: 165%; }
      .indexnav ul li .link3:hover:after {
        width: 138%; }
    .indexnav ul .logobox {
      width: 100%;
      margin-bottom: 35%; }
      .indexnav ul .logobox .logo {
        width: 100%; }

form input {
  height: 40px;
  width: 97%;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase; }

.button {
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  background-color: #a8bdba;
  font-size: 2.25rem;
  font-family: gill sans;
  text-transform: uppercase;
  text-align: center; }
  .button a {
    text-decoration: none;
    color: #313237;
    padding: 15%; }
  .button a:hover {
    color: #a8bdba; }

.button:hover {
  background-color: #313237; }

.createaccountbody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/index-background.jpg");
  background-size: cover;
  margin: 0; }

.create-account-overlay-box {
  display: inline-block;
  width: 70%;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  margin-left: 16%;
  margin-right: 10%; }

.create-account-overlay-box {
  width: 30%;
  height: 150px;
  float: left;
  background-color: #2B7F7B;
  margin: 1%; }

.profile-information {
  width: 66%;
  height: 224px;
  float: right;
  background-color: #000000;
  margin: 1%; }

.profile-questions-asked {
  width: 30%;
  height: 300px;
  float: left;
  background-color: #ffffff;
  margin-left: 1%;
  margin-bottom: 1%; }

.profile-questions-answered {
  width: 66%;
  height: 224px;
  float: right;
  background-color: #ffffff;
  margin-right: 1%;
  margin-bottom: 1%; }

.mainbody {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/main-background.jpg");
  background-size: cover;
  margin: 0; }

.diag-main-title {
  font-size: 3.75rem;
  font-family: gill sans;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 0; }

.outer-box {
  background-color: rgba(255, 255, 255, 0.25);
  height: 300px;
  width: 80%;
  padding: 1%;
  margin: 0 auto;
  position: relative; }
  .outer-box .diag-select-title {
    font-size: 2.25rem;
    font-family: gill sans;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 0; }
  .outer-box .diag-select-box {
    background-color: white;
    height: 55px;
    width: 20%;
    display: inline-block;
    margin: 2%; }
    .outer-box .diag-select-box .diag-select-text {
      font-size: 1.5rem;
      font-family: gill sans;
      text-transform: uppercase;
      color: #45756e;
      font-size: 16px;
      text-align: center; }
  .outer-box a {
    text-decoration: none; }
  .outer-box .diag-select-box:hover {
    background-color: #45756e;
    cursor: pointer; }
    .outer-box .diag-select-box:hover .diag-select-text {
      color: white; }

.bikedetailsbody {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/bikedetails-background.png");
  background-size: cover;
  margin: 0; }

.specs {
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  font-weight: 200;
  text-align: center;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 3%;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 38%; }
  .specs .specstitle {
    font-size: 2.25rem;
    font-family: gill sans;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-align: center; }

.systitle {
  font-size: 2.25rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-top: 100px; }

.systems {
  text-align: center;
  position: relative;
  top: 20px; }
  .systems a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: gill sans;
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    margin: 0; }
    .systems a .sys {
      height: 150px;
      width: 150px;
      margin: 0 4%;
      display: inline-block;
      background-color: rgba(168, 189, 186, 0.75);
      border-radius: 100%;
      padding: 1%; }
  .systems .sys:hover {
    background-color: #b68d58;
    transform: rotate(360deg);
    transition: .5s; }

.prob-detailbody {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/main-background.jpg");
  background-size: cover;
  margin: 0; }

.prob-detail-boxes {
  height: 125px;
  width: 60%;
  margin: 2% auto;
  background-color: white; }

.prob-detail-comments-box {
  width: 40%;
  float: left;
  margin: 3% 0 0 20%; }

.prob-detail-box-name {
  font-size: 1.5rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0; }

.userprofilebody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/index-background.jpg");
  background-size: cover;
  margin: 0; }

.profile-title p {
  font-size: 2.25rem;
  font-family: gill sans;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 1%;
  margin-bottom: -.25%; }

.profile-details {
  display: inline-block;
  width: 70%;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  margin-left: 16%;
  margin-right: 10%; }

.profile-photo {
  width: 30%;
  height: 224px;
  float: left;
  background-color: #2B7F7B;
  margin-top: 1%;
  margin-left: 1%; }

.profile-questions-asked {
  width: 66%;
  height: 224px;
  float: right;
  background-color: #ffffff;
  margin-right: 1%;
  margin-top: 1%; }

.profile-information {
  width: 30%;
  height: 300px;
  float: left;
  background-color: #ffffff;
  margin: 1%;
  margin-bottom: 1%; }

.profile-questions-answered {
  width: 66%;
  height: 300px;
  float: right;
  background-color: #ffffff;
  margin-right: 1%;
  margin-bottom: 1%; }

body {
  padding: 0; }

header {
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  height: 58px;
  padding: 1% 2%; }
  header .templatelogo {
    width: 20%;
    float: left; }
  header .search {
    width: 20%;
    margin: 0 3%;
    float: left;
    position: relative;
    bottom: 10px; }
  header .templatenav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1%;
    margin: 0;
    float: left; }
    header .templatenav li a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-family: gill sans;
      text-transform: uppercase;
      position: relative; }
    header .templatenav li a:after {
      display: block;
      position: absolute;
      bottom: 30px;
      height: 5px;
      width: 0px;
      background-color: #a8bdba;
      transition: width .5s;
      content: ""; }
    header .templatenav li .link1:hover:after {
      width: 100%; }
    header .templatenav li .link2:hover:after {
      width: 100%; }
    header .templatenav li .link3:hover:after {
      width: 100%; }
  header .dropdown {
    display: none; }

footer {
  clear: both;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer p {
    color: white;
    text-align: center;
    padding-top: .5%;
    margin: 0;
    font-family: gill sans;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
