@import "index.scss";
@import "createaccount.scss";
@import "main.scss";
@import "bikedetails.scss";
@import "problem-detail.scss";
@import "profile.scss";
@import "system-problem-list.scss";
@import "variables";
@import "mixins";

body {
  margin:0;
  overflow:auto;
}


header{
  // background-color:rgba(black, .30);

  height:58px;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 2%;

.templatelogo{
  width:15%;
  float:left;
  margin-right: 2%;
  margin-top: 1.5%;

}


.search{
  width:10%;
  // margin:2% 0%;
  float:left;
  position:relative;
  bottom:10px;
}

.templatenav{
  display: inline;

    li{
      list-style-type:none;
      display:inline-block;
      // padding:2% .75%;
      margin-left: 2%;
      float:left;

      a{
        text-decoration:none;
        color:white;
        @include smallfont;
        font-size: 1.25rem;
        // position:relative;
        text-align: right;
      }


// hover state overline
      a:after{
        display:block;
        position:absolute;
        bottom:30px;
        height:5px;
        width:0px;
        background-color:$seafoam;
        transition:width .5s;
        content:"";
      }

      .link1:hover:after{
        width:100%;
      }

      .link2:hover:after{
        width:100%;
      }

      .link3:hover:after{
        width:100%;
      }
    }

  }
}
// end hover state overline

// my account dropdown menu
.dropdown{
  display:none;
  padding-left:1%;
  position:absolute;
  top:70px;
}

header .templatenav .dropdown li a {
  font-size: 1.1rem;
}

header .templatenav .dropdown li a:hover {
    color: $charcoal;
}

  .droplist{
    display:block;
    clear:both;
    width: 100%;
    background:linear-gradient(
          rgba(white, 0.15),
          rgba(white, 0.15)
        );
  }

    .droplist:hover {
      background-color: $seafoam;
      transition: .5s;
    }


// modal
.remodal{
  // background-color:$teal;
  background:linear-gradient(
        37.5deg,
        rgba($seafoam, .5)1%,
        rgba($teal, 1)99%
      );
}

.modaltext{
  color:white;
  @include smallfont;
}

.problemtitle-field{
  height:50px;
  width:30%;
  text-align:center;
  @include smallfont;
  color:$charcoal;
}

.submit-button{
  color:$teal;
  background-color:white;
  @include smallfont;
  border:transparent;
  padding:2%;
  margin-top:10px;
}

.submit-button:hover{
  color:white;
  background-color:transparent;
  border:1px solid white;
  cursor:pointer;
}

// footer
footer{
  clear:both;
  background-color:rgba(white, .15);
  width:100%;

  p{
    color:white;
    text-align:center;
    padding-top:.5%;
    margin:0;
    font-family:gill sans;
    text-transform:uppercase;
  }
}
