@import "index.scss";
@import "createaccount.scss";
@import "main.scss";
@import "bikedetails.scss";
@import "problem-detail.scss";
@import "profile.scss";
@import "system-problem-list.scss";

$charcoal: #313237;
$seafoam: #a8bdba;
$golden: #b68d58;
$teal: #45756e;

@mixin smallfont{
  font-size:1em;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin regularfont{
  font-size:1.5em;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin mediumfont{
  font-size:2.25em;
  font-family:gill sans;
  text-transform:uppercase;
}

@mixin largefont{
  font-size:3.75em;
  font-family:gill sans;
  text-transform:uppercase;
}

body {
  // position: relative;
  padding:0;
}

header{
  background:linear-gradient(
        rgba(white, 0.15),
        rgba(white, 0.15)
      );
  height:58px;
  padding:1% 2%;

.templatelogo{
  width:20%;
  float:left;
}

.search{
  width:20%;
  margin:0 3%;
  float:left;
  position:relative;
  bottom:10px;
}

.templatenav{

    li{
      list-style-type:none;
      display:inline-block;
      padding:0 1%;
      margin:0;
      float:left;

      a{
        text-decoration:none;
        color:white;
        @include regularfont;
        position:relative;
      }


// hover state overline
      a:after{
        display:block;
        position:absolute;
        bottom:30px;
        height:5px;
        width:0px;
        background-color:$seafoam;
        transition:width .5s;
        content:"";
      }

      .link1:hover:after{
        width:100%;
      }

      .link2:hover:after{
        width:100%;
      }

      .link3:hover:after{
        width:100%;
      }
    }

  }
}
// end hover state overline

// my account dropdown menu
.dropdown{
  display:none;
  padding:0;
  position:absolute;
  top:50px;

  .droplist{
    display:block;
    clear:both;
    margin-top:3px;
    padding:2%;

    a{
      font-size:1rem;
    }

    a:hover{
      color:$seafoam;
    }
  }
}

// footer
footer{
  clear:both;
  background-color:rgba(white, .15);
  position:absolute;
  bottom:0;
  width:100%;

  p{
    color:white;
    text-align:center;
    padding-top:.5%;
    margin:0;
    font-family:gill sans;
    text-transform:uppercase;

  }
}
