@import "index.scss";
@import "createaccount.scss";
@import "main.scss";
@import "bikedetails.scss";
@import "problem-detail.scss";
@import "profile.scss";
@import "system-problem-list.scss";
@import "problem-list.scss";
@import "variables.scss";
@import "mixins.scss";


body {
  margin:0;
  overflow:auto;
}

  header{
    height:58px;
    padding-left: 10%;
    padding-top: .5%;
    padding-bottom: 5%;

    .templatelogo{
      width:18%;
      float:left;
      margin-top: 1.5%;
      padding-right:.9%;
    }

    .templatenav{

      .search-form{
        height:30px;
        margin-bottom:1.5rem;
        text-align:center;
      }

      .search-field{
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        border: 0px;
        height: 22px;
        width: 125px;
      }

      .search-submit{
        background-color:$teal;
        color:white;
        border: 0px;
        height: 24px;
        @include smallfont;
        margin-top: -1%;
      }

      .search-submit:hover{
        background-color:$charcoal;
        transition: .5s;
      }

      li{
      list-style-type:none;
      display:inline-block;
      padding:0 .9%;
      float:left;
      margin-top:15px;

        a{
          position:relative;
          text-decoration:none;
          color:white;
          @include smallregularfont;
        }


// hover state overline
        a:after{
          display:block;
          position:absolute;
          bottom:25px;
          height:5px;
          width:0px;
          background-color:$teal;
          transition:width .5s;
          content:"";
        }

        .link1:hover:after, .link2:hover:after, .link3:hover:after, .link4:hover:after{
          width:100%;
        }
      }
    }
  }
// end hover state overline

// my account dropdown menu
  .dropdown{
  display:none;
  padding:0;
  position:absolute;
  top:50px;

  .droplist{
    display:block;
    clear:both;
    width: 100%;
    margin-top: 10px;

    a {
      @include smallfont;
    }

    a:hover {
        color: $teal;
        transition: .5s;
    }
  }
}

// title of pages
.page-title {
  @include mediumfont;
  font-weight:500;
  color:white;
  text-align:left;
  margin-left: 10%;
  margin-bottom:0;
}


// modal
.remodal{
  height:auto;

  textarea {
    width: 90%;
  }
}

.systems-dropdown{
  display:inline-block;
}

.modaltext{
  @include smallregularfont;
  margin-bottom: 1%;
  font-weight: 400;
  margin-top: 2%;
}

.modaltext-1{
  @include smallfont;
  font-weight: 200;
  margin: 0;
  margin-bottom: 10%;
}

.problemtitle-field{
  height:30px;
  width:90%;
  text-align:left;
  font-size:1rem;
  font-family:gill sans;
  color:$charcoal;
}

.submit-button{
  color:white;
  background-color:$charcoal;
  border:1px solid white;
  @include smallfont;
  padding:2%;
  margin-top:0%;
  margin-bottom: 2%;
  box-sizing:border-box;
}

.submit-button:hover{
  color:$charcoal;
  background-color:white;
  cursor:pointer;
  transition: .5s;
}

// unsolved problem modal
.unsolved-problem-container{
  padding:2% 0;
}

.unsolved-problem-container:nth-child(odd){
  background-color:rgba($charcoal, .1);
}

.unsolved-problem-container:hover{
  background-color:rgba($golden, .5);
}

.unsolved-problem-title{
  text-transform:capitalize;
}

.unsolved-problem-link{
  text-decoration:none;
  color:$charcoal;
}

// footer
footer{
  clear:both;
  width:100%;

  p{
    color:white;
    text-align:left;
    padding-top:.5%;
    margin:0;
    font-family:gill sans;
    text-transform:uppercase;
    text-align:center;
  }
}

.no-result-text{

  h5{
    @include smallregularfont;
    color: $charcoal;
    text-align: center;
  }
}

//post problem modal
.remodal{
  padding:0;

  .goldendecor {
    margin: 0;
    width: 100%;
    height: 60px;
  }
}

.modal-header{
  @include mediumfont;
  color: white;
  font-weight: 500;
  text-align: left;
  margin-bottom: -1%;;
  margin-left: 10%;
  margin-top: 1%;

  hr{
    margin-top: 0;
  }
}

.containerDropdown{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.select-brand-model-year{
  margin-bottom: 2%;

  p{
    @include smallfont;
    font-weight: 200;
    margin-bottom: 10px;
  }
}

.dropdownlist{
 background-color: $charcoal;
 @include smallfont;
 color: white;
 font-weight: 200;
}

.textarea-border{
  border: 1px solid #c0bebf;
}

.no-result-modal{
  padding: 10%;

  h5{
    @include smallfont;
    color: $charcoal;
    font-weight: 200;
    margin-bottom: 10%;
  }

  .post-problem-button{
   text-decoration: none;
   background-color: $darkteal;
   padding: 5%;
   color: white;
 }
}

  .post-problem-button:hover{
    text-decoration: none;
    background-color: $charcoal;
    color: white;
    transition: .5s;
  }
